/*!
 * Adminux (http://maxartkiller.com)
 * Copyright 2017 The Adminux Author: Maxartkiller
 * purchase licence before use
 * You can not resale or modify without prior licences.
*/

/*------------------------------------------------------------------ 
[Table of contents]
1.	General CSS
2.	Responsive 
------------------------------------------------------------------*/

/*========================================
1.	General CSS
=========================================*/

.dark-bg{ background: #171e32}
.row{position: relative}
.section{ padding-top: 150px; padding-bottom: 150px;}
.banner{ background: url(../img/grand_banner.png) no-repeat top right #171e32; background-size: 70%; height: 1000px;}
.navbar-brand{ padding: 0}
.navbar-brand img{ vertical-align: middle; margin-right: 10px; display: inline-block}
.navbar-brand h4{display: inline-block; vertical-align: middle; margin: 0; line-height: 18px; color: #ffffff}
.navbar-brand h4 small{font-size: 14px;}
nav.navbar{ display: block;background:transparent; }
nav .navbar-collapse li.nav-item a.nav-link{ color: rgba(255, 255, 255, 0.9); padding-left: 20px; padding-right: 20px; font-size: 16px; border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -webkit-border-radius: 4px;}
nav .navbar-collapse li.nav-item.active a{ color: #ffffff }
.navbar.active{ background: rgba(23, 30, 50, 0.6); border-bottom: 1px solid #27314d }
.responsive-img{ max-width: 100%;}
.dark-bg .serviceblock,.dark-bg .display-4{ color: #b7c8ff} 
.dark-bg .display-1{ color: #b7c8ff} 
.service_bg{ background: url('../img/service_bg.png') no-repeat center bottom; background-size: 100%;}
.screen-right{ width: 44%; position: absolute; right: 0; bottom: 0}
.lady-right{ width: 30%; position: absolute; left: 0; bottom: 0}
.saperator{ width: 100%}
.block{ background: rgb(234, 236, 244); padding: 20px;  position: relative; height:  100%}
.dark-bg .block{ background: rgba(234, 236, 244, 0.10);}
.block figure{ margin: -20px -20px 20px -20px; }
.block .hide{ display: none}
.block i{ text-align: center; font-size: 26px; line-height: 50px; padding: 0; height: 50px; width: 50px;display: block; position: absolute; right: 0; bottom: 0;  background: #6c8bef; color: #ffffff;}
.girl-laptop{ width: 58%; position: absolute; right: 0; bottom: 0}
.block:hover { background: #6c8bef; color:#ffffff; box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); -ms-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);}
.block:hover .hide{ display: block}
.block:hover figure{ display: none}
.block:hover i{ color:#222222; background: #FFFFFF}
.block:hover a{ color:#ffffff;}
.flexslider{ margin: 0; border: 0; overflow: hidden}
.flex-direction-nav a {  font: normal normal normal 14px/1 FontAwesome;}
.flex-direction-nav a:before { font-size: 46px; font-family: FontAwesome; color: #ffffff; display: inline-block; content: "\f104"; display: block;}
.flex-direction-nav a.flex-next:before {content: "\f105";}
.block.bordered{border:1px solid rgba(108, 139, 239, 0.5); background:rgba(234, 236, 244, 0.10);}
.block.bordered:hover{ background: #6c8bef}
.block.bordered:hover *{ color:#ffffff;}
.block.bordered:hover .btn{ color:#6c8bef;background: #ffffff}
.subscribe{ max-width: 400px; margin: 50px auto;}
.subscribe input[type="text"]{ background: rgba(255, 255, 255, 1) ; color: #666666; line-height: 50px; height: 50px; padding: 0 15px;}
.subscribe .btn{ color: #ffffff; background: rgba(108, 139, 239, 1); text-transform: uppercase}
.subscribe .btn:focus, .subscribe .btn:hover{ color: #ffffff; background: rgb(70, 103, 211); }
footer{display: block; width: 100%; clear: both; }
.footer-links { margin: 50px auto;}
.footer-links a { color:#bfc8ea}
.footer-links a:hover { color:#859bef}
.copyright{line-height: 50px; vertical-align: middle; margin: 0}
.navbar-toggler{background: #bcc4e6; margin-right: 10px; height: 40px; padding: 0; width: 40px; text-align: center; vertical-align: middle; color: #ffffff}
nav .navbar-collapse li.nav-item a:hover{  background: rgba(234, 236, 244, 0.2)}
.contact-form{ max-width: 440px; margin: 0 auto; padding: 20px; box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15); -webkit-box-shadow: 0px 3px 15px 0 rgba(0, 0, 0, 0.15); -ms-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15); border-radius: 5px; -ms-border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; background:  rgba(234, 236, 244, 0.10);}
.backgroundfreebies{ background: url(../img/landing_bg.PNG) repeat-x center top; }
.box_freebies_bg{ background: url(../img/freebies_bg.png) no-repeat center top; margin-top:10%;   padding-bottom: 200px; padding-top:420px}
.box_freebies{ box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.15); -webkit-box-shadow: 0px 20px 30px 0 rgba(0, 0, 0, 0.15); -ms-box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.15); border-radius: 40px; -ms-border-radius: 40px; -webkit-border-radius: 40px; -moz-border-radius: 40px; background: #ffffff; max-width: 700px; margin: 0 auto;  padding: 25px;}
.gift{ margin: 0 auto; margin-top: -120px; margin-bottom: 30px; }
.fb{ background: #334b9a;}
.twitter-share-button{ position: absolute; opacity: 0;}

/*========================================
2.	Responsive
=========================================*/

@media screen and ( max-width:1019px) {
    .banner{ height: 550px;}
    h3{ 0.9rem}
    .display-1{ font-size: 3rem;}
    .display-4{ font-size: 1.25rem}
    .display-3 { font-size: 2.25rem;}    
    .lead {font-size: 1rem;}
    .section {padding-top: 80px;  padding-bottom: 80px;}
    nav.navbar{ display: block; padding: }
    .navbar-collapse{ position: fixed; top: 80px; background: rgba(0, 0, 0, 0.6); left: 0; padding: 20px;}
    .copyright{ line-height: 30px; text-align: center !important; padding: 10px 15px;}
}
@media screen and ( max-width:767px) {
    .lady-right{ display: none}
    .display-1{font-size: 4rem} 
     .display-2{font-size: 3rem} 
     .display-3{font-size: 2rem} 
}
@media screen and ( max-width:556px) {
    .navbar-brand h4{ display: none}
}