<div class="page" data-name="add-salary">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left"><a href="#" class="back link"> <i class="fa fa-angle-left"></i><span>Back</span></a></div>
			<div class="title">Add Salary</div>
		</div>
	</div>
	<div class="page-content">
		<div class="list no-hairlines custom-form">
			<ul>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Select Staff</div>
						<div class="item-input-wrap">
							<select>
								<option>John Doe</option>
								<option>Richard Miles</option>
							</select>
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Net Salary</div>
						<div class="item-input-wrap">
							<input type="text">
							<span class="input-clear-button"></span>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="list no-hairlines custom-form">
			<ul>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Basic</div>
						<div class="item-input-wrap">
							<input type="text">
							<span class="input-clear-button"></span>
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">DA(40%)</div>
						<div class="item-input-wrap">
							<input type="text">
							<span class="input-clear-button"></span>
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">HRA(15%)</div>
						<div class="item-input-wrap">
							<input type="text">
							<span class="input-clear-button"></span>
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Conveyance</div>
						<div class="item-input-wrap">
							<input type="text">
							<span class="input-clear-button"></span>
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Allowance</div>
						<div class="item-input-wrap">
							<input type="text">
							<span class="input-clear-button"></span>
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Medical Allowance</div>
						<div class="item-input-wrap">
							<input type="text">
							<span class="input-clear-button"></span>
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Others</div>
						<div class="item-input-wrap">
							<input type="text">
							<span class="input-clear-button"></span>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="list no-hairlines custom-form">
			<ul>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">TDS</div>
						<div class="item-input-wrap">
							<input type="text">
							<span class="input-clear-button"></span>
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">ESI</div>
						<div class="item-input-wrap">
							<input type="text">
							<span class="input-clear-button"></span>
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">PF</div>
						<div class="item-input-wrap">
							<input type="text">
							<span class="input-clear-button"></span>
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Leave</div>
						<div class="item-input-wrap">
							<input type="text">
							<span class="input-clear-button"></span>
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Prof. Tax</div>
						<div class="item-input-wrap">
							<input type="text">
							<span class="input-clear-button"></span>
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Labour Welfare</div>
						<div class="item-input-wrap">
							<input type="text">
							<span class="input-clear-button"></span>
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Fund</div>
						<div class="item-input-wrap">
							<input type="text">
							<span class="input-clear-button"></span>
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Others</div>
						<div class="item-input-wrap">
							<input type="text">
							<span class="input-clear-button"></span>
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-input-wrap m-t-10">
							<button type="button" class="button button-big button-purple">Create Salary</button>
						</div>
					</div>
                </li>
			</ul>
		</div>
	</div>
</div>