<div class="page" data-name="add-department">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left"><a href="#" class="back link"> <i class="fa fa-angle-left"></i><span>Back</span></a></div>
			<div class="title">Add Department</div>
		</div>
	</div>
	<div class="page-content">
		<div class="list no-hairlines custom-form">
			<ul>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Department Name</div>
						<div class="item-input-wrap">
							<input type="text">
							<span class="input-clear-button"></span>
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-input-wrap m-t-10">
							<button type="button" class="button button-big button-purple">Create Department</button>
						</div>
					</div>
                </li>
			</ul>
		</div>
	</div>
</div>