<div class="page" data-name="add-client">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="back link"> <i class="fa fa-angle-left"></i><span>Back</span></a>
            </div>
            <div class="title">Add Client</div>
        </div>
    </div>
    <div class="page-content">
        <div class="list no-hairlines custom-form">
            <ul>
                <li class="item-content item-input">
                    <div class="item-inner">
                        <div class="item-title item-label">First Name</div>
                        <div class="item-input-wrap">
                            <input type="text">
                            <span class="input-clear-button"></span>
                        </div>
                    </div>
                </li>
                <li class="item-content item-input">
                    <div class="item-inner">
                        <div class="item-title item-label">Last Name</div>
                        <div class="item-input-wrap">
                            <input type="text">
                            <span class="input-clear-button"></span>
                        </div>
                    </div>
                </li>
                <li class="item-content item-input">
                    <div class="item-inner">
                        <div class="item-title item-label">Username</div>
                        <div class="item-input-wrap">
                            <input type="text">
                            <span class="input-clear-button"></span>
                        </div>
                    </div>
                </li>
                <li class="item-content item-input">
                    <div class="item-inner">
                        <div class="item-title item-label">Email</div>
                        <div class="item-input-wrap">
                            <input type="email">
                            <span class="input-clear-button"></span>
                        </div>
                    </div>
                </li>
                <li class="item-content item-input">
                    <div class="item-inner">
                        <div class="item-title item-label">Password</div>
                        <div class="item-input-wrap">
                            <input type="password">
                            <span class="input-clear-button"></span>
                        </div>
                    </div>
                </li>
                <li class="item-content item-input">
                    <div class="item-inner">
                        <div class="item-title item-label">Confirm Password</div>
                        <div class="item-input-wrap">
                            <input type="password">
                            <span class="input-clear-button"></span>
                        </div>
                    </div>
                </li>
                <li class="item-content item-input">
                    <div class="item-inner">
                        <div class="item-title item-label">Client ID</div>
                        <div class="item-input-wrap">
                            <input type="text">
                            <span class="input-clear-button"></span>
                        </div>
                    </div>
                </li>
                <li class="item-content item-input">
                    <div class="item-inner">
                        <div class="item-title item-label">Phone</div>
                        <div class="item-input-wrap">
                            <input type="tel">
                            <span class="input-clear-button"></span>
                        </div>
                    </div>
                </li>
				<li class="item-content item-input">
                    <div class="item-inner">
                        <div class="item-title item-label">Company Name</div>
                        <div class="item-input-wrap">
                            <input type="tel">
                            <span class="input-clear-button"></span>
                        </div>
                    </div>
                </li>
                <li class="item-content item-input">
					<div class="item-inner">
						<div class="item-input-wrap m-t-10">
							<button class="button button-big button-purple" type="button">Send</button>
						</div>
					</div>
                </li>
            </ul>
        </div>
    </div>
</div>