<div class="page" data-name="add-project">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="back link"> <i class="fa fa-angle-left"></i><span>Back</span></a>
            </div>
            <div class="title">Add Project</div>
        </div>
    </div>
    <div class="page-content">
        <div class="list no-hairlines custom-form">
            <ul>
                <li class="item-content item-input">
                    <div class="item-inner">
                        <div class="item-title item-label">Project Name</div>
                        <div class="item-input-wrap">
                            <input type="text">
                            <span class="input-clear-button"></span>
                        </div>
                    </div>
                </li>
                <li class="item-content item-input">
                    <div class="item-inner">
                        <div class="item-title item-label">Client</div>
                        <div class="item-input-wrap">
                            <select>
                                <option>Global Technologies</option>
                                <option>Delta Infotech</option>
                            </select>
                        </div>
                    </div>
                </li>
                <li class="item-content item-input">
                    <div class="item-inner">
                        <div class="item-title item-label">Start Date</div>
                        <div class="item-input-wrap">
                            <input type="text">
                            <span class="input-clear-button"></span>
                        </div>
                    </div>
                </li>
                <li class="item-content item-input">
                    <div class="item-inner">
                        <div class="item-title item-label">End Date</div>
                        <div class="item-input-wrap">
                            <input type="text">
                            <span class="input-clear-button"></span>
                        </div>
                    </div>
                </li>
                <li class="item-content item-input">
                    <div class="item-inner">
                        <div class="item-title item-label">Rate</div>
                        <div class="item-input-wrap">
                            <input type="text" placeholder="$50">
                            <span class="input-clear-button"></span>
                        </div>
                    </div>
                </li>
                <li class="item-content item-input">
                    <div class="item-inner">
                        <div class="item-title item-label">Project Type</div>
                        <div class="item-input-wrap">
                            <select>
                                <option>Hourly</option>
                                <option>Fixed</option>
                            </select>
                        </div>
                    </div>
                </li>
                <li class="item-content item-input">
                    <div class="item-inner">
                        <div class="item-title item-label">Priority</div>
                        <div class="item-input-wrap">
                            <select>
                                <option>High</option>
                                <option>Medium</option>
                                <option>Low</option>
                            </select>
                        </div>
                    </div>
                </li>
                <li class="item-content item-input">
                    <div class="item-inner">
                        <div class="item-title item-label">Add Project Leader</div>
                        <div class="item-input-wrap">
                            <input type="text">
                            <span class="input-clear-button"></span>
                        </div>
						<div class="project-mem">
							<span>
								<img width="20" height="20" alt="" class="avatar" src="assets/img/user.jpg">
							</span>
						</div>
                    </div>
                </li>
                <li class="item-content item-input">
                    <div class="item-inner">
                        <div class="item-title item-label">Add Team</div>
                        <div class="item-input-wrap">
                            <input type="text">
                            <span class="input-clear-button"></span>
                        </div>
						<div class="project-mem">
							<span>
								<img width="20" height="20" alt="" class="avatar" src="assets/img/user.jpg">
							</span>
							<span>
								<img width="20" height="20" alt="" class="avatar" src="assets/img/user.jpg">
							</span>
							<span>
								<img width="20" height="20" alt="" class="avatar" src="assets/img/user.jpg">
							</span>
							<span>
								<img width="20" height="20" alt=" " class="avatar" src="assets/img/user.jpg">
							</span>
						</div>
                    </div>
                </li>
                <li class="item-content item-input">
                    <div class="item-inner">
                        <div class="item-title item-label">Description</div>
                        <div class="item-input-wrap">
                            <textarea></textarea>
                        </div>
                    </div>
                </li>
                <li class="item-content item-input">
                    <div class="item-inner">
                        <div class="item-title item-label">Upload Files</div>
                        <div class="item-input-wrap">
                            <input type="file">
                            <span class="input-clear-button"></span>
                        </div>
                    </div>
                </li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-input-wrap m-t-10">
							<button type="button" class="button button-big button-purple">Create Project</button>
						</div>
					</div>
                </li>
            </ul>
        </div>

    </div>
</div>