<div class="page" data-name="add-leave">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left"><a href="#" class="back link"> <i class="fa fa-angle-left"></i><span>Back</span></a></div>
			<div class="title">Add Leave Request</div>
		</div>
	</div>
	<div class="page-content">
		<div class="list no-hairlines custom-form">
			<ul>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Leave Type</div>
						<div class="item-input-wrap">
							<select>
								<option>Casual Leave 12 Days</option>
								<option>Medical Leave</option>
								<option>Loss of Pay</option>
							</select>
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">From</div>
						<div class="item-input-wrap">
							<input type="text">
							<span class="input-clear-button"></span>
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">To</div>
						<div class="item-input-wrap">
							<input type="text">
							<span class="input-clear-button"></span>
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Number of days</div>
						<div class="item-input-wrap">
							<input type="text">
							<span class="input-clear-button"></span>
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Remaining Leaves</div>
						<div class="item-input-wrap">
							<input type="text">
							<span class="input-clear-button"></span>
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Leave Reason</div>
						<div class="item-input-wrap">
							<textarea></textarea>
							<span class="input-clear-button"></span>
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-input-wrap m-t-10">
							<button type="button" class="button button-big button-purple">Send Leave Request</button>
						</div>
					</div>
                </li>
			</ul>
		</div>
	</div>
</div>