<div class="page" data-name="chat">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="back link"> <i class="fa fa-angle-left"></i><span>Back</span></a>
            </div>
            <div class="title">Chats</div>
            <div class="right">
                <a href="/contacts/" class="link icon-only">
                    <i class="f7-icons">compose</i>
                </a>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="list no-hairlines media-list chat-list">
            <ul>
                <li class="swipeout">
                    <a href="/chat-view/" class="item-link item-content swipeout-content">
                        <div class="item-media"><img src="assets/img/user.jpg" width="44" alt=""></div>
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">Barry Cuda</div>
                                <div class="item-after">17:14</div>
                            </div>
                            <div class="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis tellus ut turpis condimentum, ut dignissim lacus tincidunt. Cras dolor metus, ultrices condimentum sodales sit amet, pharetra sodales eros. Phasellus vel felis tellus. Mauris rutrum ligula nec dapibus feugiat. In vel dui laoreet, commodo augue id, pulvinar lacus.</div>
                        </div>
                    </a>
                    <div class="swipeout-actions-right">
                        <a href="#" data-confirm="Are you sure you want to delete this item?" class="swipeout-delete">Delete</a>
                    </div>
                </li>
                <li class="swipeout">
                    <a href="/chat-view/" class="item-link item-content swipeout-content">
                        <div class="item-media"><img src="assets/img/user.jpg" width="44" alt=""></div>
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">Daniel Porter</div>
                                <div class="item-after">17:11</div>
                            </div>
                            <div class="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis tellus ut turpis condimentum, ut dignissim lacus tincidunt. Cras dolor metus, ultrices condimentum sodales sit amet, pharetra sodales eros. Phasellus vel felis tellus. Mauris rutrum ligula nec dapibus feugiat. In vel dui laoreet, commodo augue id, pulvinar lacus.</div>
                        </div>
                    </a>
                    <div class="swipeout-actions-right">
                        <a href="#" data-confirm="Are you sure you want to delete this item?" class="swipeout-delete">Delete</a>
                    </div>

                </li>
                <li class="swipeout">
                    <a href="/chat-view/" class="item-link item-content swipeout-content">
                        <div class="item-media"><img src="assets/img/user.jpg" width="44" alt=""></div>
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">John Doe</div>
                                <div class="item-after">16:48</div>
                            </div>
                            <div class="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis tellus ut turpis condimentum, ut dignissim lacus tincidunt. Cras dolor metus, ultrices condimentum sodales sit amet, pharetra sodales eros. Phasellus vel felis tellus. Mauris rutrum ligula nec dapibus feugiat. In vel dui laoreet, commodo augue id, pulvinar lacus.</div>
                        </div>
                    </a>
                    <div class="swipeout-actions-right">
                        <a href="#" data-confirm="Are you sure you want to delete this item?" class="swipeout-delete">Delete</a>
                    </div>
                </li>
                <li class="swipeout">
                    <a href="/chat-view/" class="item-link item-content swipeout-content">
                        <div class="item-media"><img src="assets/img/user.jpg" width="44" alt=""></div>
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">John Smith</div>
                                <div class="item-after">15:32</div>
                            </div>
                            <div class="item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis tellus ut turpis condimentum, ut dignissim lacus tincidunt. Cras dolor metus, ultrices condimentum sodales sit amet, pharetra sodales eros. Phasellus vel felis tellus. Mauris rutrum ligula nec dapibus feugiat. In vel dui laoreet, commodo augue id, pulvinar lacus.</div>
                        </div>
                    </a>
                    <div class="swipeout-actions-right">
                        <a href="#" data-confirm="Are you sure you want to delete this item?" class="swipeout-delete">Delete</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>