<div class="page" data-name="clients">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left">
				<a href="#" class="link back">
					<i class="fa fa-angle-left"></i> <span class="ios-only">Back</span>
				</a>
			</div>
			<div class="title">Clients</div>
			<div class="right">
				<a href="/add-client/" class="link icon-only">
					<i class="f7-icons">add</i>
				</a>
			</div>
		</div>
	</div>
	
	<div class="page-content">
		<div class="block">
			<div class="row">
				<div class="col-50 tablet-50">
					<div class="widget">
						<div class="profile-img">
							<a class="avatar" href="/profile/">G</a>
						</div>
						<div class="profile-action">
							<a class="action-icon popover-open" data-popover=".client-action" href="#"><i class="fa fa-ellipsis-v"></i></a>
						</div>
						<h4 class="user-name text-ellipsis"><a href="/profile/">Global Technologies</a></h4>
						<div class="client-name">Barry Cuda</div>
						<div class="user-role">CEO</div>
					</div>					
				</div>
				<div class="col-50 tablet-50">
					<div class="widget">
						<div class="profile-img">
							<a class="avatar" href="/profile/">D</a>
						</div>
						<div class="profile-action">
							<a class="action-icon popover-open" data-popover=".client-action" href="#"><i class="fa fa-ellipsis-v"></i></a>
						</div>
						<h4 class="user-name text-ellipsis"><a href="/profile/">Delta Infotech</a></h4>
						<div class="client-name">Tressa Wexler</div>
						<div class="user-role">Manager</div>
					</div>					
				</div>
				<div class="col-50 tablet-50">
					<div class="widget">
						<div class="profile-img">
							<a class="avatar" href="/profile/">C</a>
						</div>
						<div class="profile-action">
							<a class="action-icon popover-open" data-popover=".client-action" href="#"><i class="fa fa-ellipsis-v"></i></a>
						</div>
						<h4 class="user-name text-ellipsis"><a href="/profile/">Cream Inc</a></h4>
						<div class="client-name">Ruby Bartlett</div>
						<div class="user-role">CEO</div>
					</div>					
				</div>
				<div class="col-50 tablet-50">
					<div class="widget">
						<div class="profile-img">
							<a class="avatar" href="/profile/">W</a>
						</div>
						<div class="profile-action">
							<a class="action-icon popover-open" data-popover=".client-action" href="#"><i class="fa fa-ellipsis-v"></i></a>
						</div>
						<h4 class="user-name text-ellipsis"><a href="/profile/">Wellware Company</a></h4>
						<div class="client-name">Misty Tison</div>
						<div class="user-role">CEO</div>
					</div>					
				</div>
				<div class="col-50 tablet-50">
					<div class="widget">
						<div class="profile-img">
							<a class="avatar" href="/profile/">M</a>
						</div>
						<div class="profile-action">
							<a class="action-icon popover-open" data-popover=".client-action" href="#"><i class="fa fa-ellipsis-v"></i></a>
						</div>
						<h4 class="user-name text-ellipsis"><a href="/profile/">Mustang Technologies</a></h4>
						<div class="client-name">Daniel Deacon</div>
						<div class="user-role">CEO</div>
					</div>					
				</div>
				<div class="col-50 tablet-50">
					<div class="widget">
						<div class="profile-img">
							<a class="avatar" href="/profile/">I</a>
						</div>
						<div class="profile-action">
							<a class="action-icon popover-open" data-popover=".client-action" href="#"><i class="fa fa-ellipsis-v"></i></a>
						</div>
						<h4 class="user-name text-ellipsis"><a href="/profile/">International Software Inc</a></h4>
						<div class="client-name">Walter Weaver</div>
						<div class="user-role">CEO</div>
					</div>					
				</div>
				<div class="col-50 tablet-50">
					<div class="widget">
						<div class="profile-img">
							<a class="avatar" href="/profile/">M</a>
						</div>
						<div class="profile-action">
							<a class="action-icon popover-open" data-popover=".client-action" href="#"><i class="fa fa-ellipsis-v"></i></a>
						</div>
						<h4 class="user-name text-ellipsis"><a href="/profile/">Mercury Software Inc</a></h4>
						<div class="client-name">Amanda Warren</div>
						<div class="user-role">CEO</div>
					</div>					
				</div>
				<div class="col-50 tablet-50">
					<div class="widget">
						<div class="profile-img">
							<a class="avatar" href="/profile/">C</a>
						</div>
						<div class="profile-action">
							<a class="action-icon popover-open" data-popover=".client-action" href="#"><i class="fa fa-ellipsis-v"></i></a>
						</div>
						<h4 class="user-name text-ellipsis"><a href="/profile/">Carlson Tech</a></h4>
						<div class="client-name">Betty Carlson</div>
						<div class="user-role">CEO</div>
					</div>					
				</div>
			</div>	
			<div class="popover client-action">
				<div class="popover-inner">
					<div class="list">
						<ul>
							<li><a class="list-button item-link popover-close" href="/edit-client/">Edit</a></li>
							<li><a class="list-button item-link" href="#">Delete</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>