<div class="page" data-name="company-settings">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left"><a href="#" class="back link"> <i class="fa fa-angle-left"></i><span>Back</span></a></div>
			<div class="title">Company Settings</div>
		</div>
	</div>
	<div class="page-content">
		<div class="list no-hairlines custom-form">
			<ul>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Company Name</div>
						<div class="item-input-wrap">
							<input type="text" value="Focus Technologies">
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Contact Person</div>
						<div class="item-input-wrap">
							<input type="text" value="Daniel Porter">
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Address</div>
						<div class="item-input-wrap">
							<input type="text" value="3864 Quiet Valley Lane, Sherman Oaks, CA, 91403">
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Country</div>
						<div class="item-input-wrap">
							<select>
								<option selected>USA</option>
								<option>United Kingdom</option>
							</select>
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">City</div>
						<div class="item-input-wrap">
							<input type="text" value="Sherman Oaks">
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">State</div>
						<div class="item-input-wrap">
							<select>
								<option selected>California</option>
								<option>Alaska</option>
								<option>Alabama</option>
							</select>
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Postal Code</div>
						<div class="item-input-wrap">
							<input type="text" value="91403">
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Email</div>
						<div class="item-input-wrap">
							<input type="email" value="danielporter@example.com">
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Email</div>
						<div class="item-input-wrap">
							<input type="email" value="danielporter@example.com">
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Phone Number</div>
						<div class="item-input-wrap">
							<input type="tel" value="818-978-7102">
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Mobile Number</div>
						<div class="item-input-wrap">
							<input type="tel" value="818-635-5579">
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Fax</div>
						<div class="item-input-wrap">
							<input type="tel" value="818-978-7102">
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Website Url</div>
						<div class="item-input-wrap">
							<input type="text" value="https://www.example.com">
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-input-wrap m-t-10">
							<button type="button" class="button button-big button-purple">Save</button>
						</div>
					</div>
                </li>
			</ul>
		</div>
	</div>
</div>