<div class="page" data-name="contacts">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="back link"> <i class="fa fa-angle-left"></i><span>Back</span></a>
            </div>
            <div class="title">Contacts</div>
        </div>
        <div class="subnavbar">
            <form class="searchbar">
                <div class="searchbar-inner">
                    <div class="searchbar-input-wrap">
                        <input type="search" placeholder="Search">
                        <i class="searchbar-icon"></i>
                        <span class="input-clear-button"></span>
                    </div>
                    <span class="searchbar-disable-button">Cancel</span>
                </div>
            </form>
        </div>
    </div>
    <div class="page-content">
        <div class="list contacts-list">
            <div class="list-group">
                <ul>
                    <li class="list-group-title">A</li>
                    <li>
                        <a class="item-link item-content" href="/chat-view/">
                            <div class="item-inner">
                                <div class="item-title">Aaron</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="item-link item-content" href="#">
                            <div class="item-inner">
                                <div class="item-title">Abbie</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="item-link item-content" href="/chat-view/">
                            <div class="item-inner">
                                <div class="item-title">Adam</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="item-link item-content" href="/chat-view/">
                            <div class="item-inner">
                                <div class="item-title">Adele</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="item-link item-content" href="/chat-view/">
                            <div class="item-inner">
                                <div class="item-title">Agatha</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="item-link item-content" href="/chat-view/">
                            <div class="item-inner">
                                <div class="item-title">Agnes</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="item-link item-content" href="/chat-view/">
                            <div class="item-inner">
                                <div class="item-title">Albert</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="item-link item-content" href="/chat-view/">
                            <div class="item-inner">
                                <div class="item-title">Alexander</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="list-group">
                <ul>
                    <li class="list-group-title">B</li>
                    <li>
                        <a class="item-link item-content" href="/chat-view/">
                            <div class="item-inner">
                                <div class="item-title">Bailey</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="item-link item-content" href="/chat-view/">
                            <div class="item-inner">
                                <div class="item-title">Barclay</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="item-link item-content" href="/chat-view/">
                            <div class="item-inner">
                                <div class="item-title">Bartolo</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="item-link item-content" href="/chat-view/">
                            <div class="item-inner">
                                <div class="item-title">Bellamy</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="item-link item-content" href="/chat-view/">
                            <div class="item-inner">
                                <div class="item-title">Belle</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="item-link item-content" href="/chat-view/">
                            <div class="item-inner">
                                <div class="item-title">Benjamin</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="list-group">
                <ul>
                    <li class="list-group-title">C</li>
                    <li>
                        <a class="item-link item-content" href="/chat-view/">
                            <div class="item-inner">
                                <div class="item-title">Caiden</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="item-link item-content" href="/chat-view/">
                            <div class="item-inner">
                                <div class="item-title">Calvin</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="item-link item-content" href="/chat-view/">
                            <div class="item-inner">
                                <div class="item-title">Candy</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="item-link item-content" href="/chat-view/">
                            <div class="item-inner">
                                <div class="item-title">Carl</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="item-link item-content" href="/chat-view/">
                            <div class="item-inner">
                                <div class="item-title">Cherilyn</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="item-link item-content" href="/chat-view/">
                            <div class="item-inner">
                                <div class="item-title">Chester</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="item-link item-content" href="/chat-view/">
                            <div class="item-inner">
                                <div class="item-title">Chloe</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="list-group">
                <ul>
                    <li class="list-group-title">V</li>
                    <li>
                        <a class="item-link item-content" href="/chat-view/">
                            <div class="item-inner">
                                <div class="item-title">Vladimir</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>