<div class="page" data-name="create-invoice">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left"><a href="#" class="back link"> <i class="fa fa-angle-left"></i><span>Back</span></a></div>
			<div class="title">Create Invoice</div>
		</div>
	</div>
	<div class="page-content">
		<div class="list no-hairlines custom-form">
			<ul>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Invoice ID</div>
						<div class="item-input-wrap">
							<input type="text" value="INV-0001" readonly>
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Client</div>
						<div class="item-input-wrap">
							<select>
								<option selected>Barry Cuda</option>
								<option>Tressa Wexler</option>
							</select>
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Project</div>
						<div class="item-input-wrap">
							<select>
								<option>Food and Drinks</option>
								<option>School Guru</option>
							</select>
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Tax</div>
						<div class="item-input-wrap">
							<select>
								<option>VAT</option>
								<option>GST</option>
								<option>No Tax</option>
							</select>
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Invoice Date</div>
						<div class="item-input-wrap">
							<input type="text">
							<span class="input-clear-button"></span>
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Due Date</div>
						<div class="item-input-wrap">
							<input type="text">
							<span class="input-clear-button"></span>
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Billing Address</div>
						<div class="item-input-wrap">
							<textarea></textarea>
							<span class="input-clear-button"></span>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="list no-hairlines custom-form">
			<ul>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Item</div>
						<div class="item-input-wrap">
							<input type="text">
							<span class="input-clear-button"></span>
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Description</div>
						<div class="item-input-wrap">
							<textarea></textarea>
							<span class="input-clear-button"></span>
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="row">
							<div class="col-50">
								<div class="item-title item-label">Unit Cost</div>
								<div class="item-input-wrap">
									<input type="text">
									<span class="input-clear-button"></span>
								</div>
							</div>
							<div class="col-50">
								<div class="item-title item-label">Qty</div>
								<div class="item-input-wrap">
									<input type="text">
									<span class="input-clear-button"></span>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="item-content">
					<a class="remove-item" href="">
						<i class="material-icons">close</i>
					</a>
				</li>
			</ul>
		</div>
		<div class="list no-hairlines custom-form">
			<ul>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Item</div>
						<div class="item-input-wrap">
							<input type="text">
							<span class="input-clear-button"></span>
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Description</div>
						<div class="item-input-wrap">
							<textarea></textarea>
							<span class="input-clear-button"></span>
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="row">
							<div class="col-50">
								<div class="item-title item-label">Unit Cost</div>
								<div class="item-input-wrap">
									<input type="text">
									<span class="input-clear-button"></span>
								</div>
							</div>
							<div class="col-50">
								<div class="item-title item-label">Qty</div>
								<div class="item-input-wrap">
									<input type="text">
									<span class="input-clear-button"></span>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="item-content items-action">
					<a class="add-item" href="">
						<i class="material-icons">add</i> <span>Add Item </span>
					</a>
					<a class="remove-item" href="">
						<i class="material-icons">close</i>
					</a>
				</li>
			</ul>
		</div>
		<div class="list custom-form">
			<ul>
				<li class="item-content">
					<div class="item-inner">
					<table class="inv-table">
						<thead>
							<tr>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<td colspan="3">Subtotal </td>
								<td colspan="1" style="width:170px;">0.00</td>
							</tr>
							<tr>
								<td colspan="3">Tax: (25%)</td>
								<td colspan="1" style="width:170px;">0.00</td>
							</tr>
							<tr>
								<td colspan="3">Discount %</td>
								<td colspan="1" style="width:170px;"><input type="text" class="form-control text-align-right discount-input"></td>
							</tr>
							<tr>
								<td colspan="3"><b>Total:</b></td>
								<td colspan="1" style="width:170px;"><b>$ 0.00</b></td>
							</tr>
						</tfoot>
					</table>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Other Information</div>
						<div class="item-input-wrap">
							<textarea></textarea>
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-input-wrap m-t-10">
							<button class="button button-big button-purple" type="button">Create Invoice</button>
						</div>
					</div>
                </li>
			</ul>
		</div>
	</div>
</div>