<div class="page" data-name="departments">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left">
				<a href="#" class="link back">
					<i class="fa fa-angle-left"></i> <span class="ios-only">Back</span>
				</a>
			</div>
			<div class="title">Departments</div>
			<div class="right">
				<a href="/add-department/" class="link icon-only">
					<i class="f7-icons">add</i>
				</a>
			</div>
		</div>
	</div>
	
	<div class="page-content">
		<div class="block">
			<div class="row dept-row">
				<div class="col-100 tablet-50">
					<div class="widget dept-widget">
						<div class="profile-action">
							<a class="action-icon popover-open" data-popover=".department-action" href="#"><i class="fa fa-ellipsis-v"></i></a>
						</div>
						<h4 class="user-name text-ellipsis">Web Development</h4>
					</div>					
				</div>
				<div class="col-100 tablet-50">
					<div class="widget dept-widget">
						<div class="profile-action">
							<a class="action-icon popover-open" data-popover=".department-action" href="#"><i class="fa fa-ellipsis-v"></i></a>
						</div>
						<h4 class="user-name text-ellipsis">Application Development</h4>
					</div>					
				</div>
				<div class="col-100 tablet-50">
					<div class="widget dept-widget">
						<div class="profile-action">
							<a class="action-icon popover-open" data-popover=".department-action" href="#"><i class="fa fa-ellipsis-v"></i></a>
						</div>
						<h4 class="user-name text-ellipsis">IT Management</h4>
					</div>					
				</div>
				<div class="col-100 tablet-50">
					<div class="widget dept-widget">
						<div class="profile-action">
							<a class="action-icon popover-open" data-popover=".department-action" href="#"><i class="fa fa-ellipsis-v"></i></a>
						</div>
						<h4 class="user-name text-ellipsis">Accounts Management</h4>
					</div>					
				</div>
				<div class="col-100 tablet-50">
					<div class="widget dept-widget">
						<div class="profile-action">
							<a class="action-icon popover-open" data-popover=".department-action" href="#"><i class="fa fa-ellipsis-v"></i></a>
						</div>
						<h4 class="user-name text-ellipsis">Support Management</h4>
					</div>					
				</div>
				<div class="col-100 tablet-50">
					<div class="widget dept-widget">
						<div class="profile-action">
							<a class="action-icon popover-open" data-popover=".department-action" href="#"><i class="fa fa-ellipsis-v"></i></a>
						</div>
						<h4 class="user-name text-ellipsis">Marketing</h4>
					</div>					
				</div>
				
			</div>	
			<div class="popover department-action">
				<div class="popover-inner">
					<div class="list">
						<ul>
							<li><a class="list-button item-link popover-close" href="/edit-department/">Edit</a></li>
							<li><a class="list-button item-link" href="#">Delete</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>