<div class="page" data-name="designations">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left">
				<a href="#" class="link back">
					<i class="fa fa-angle-left"></i> <span class="ios-only">Back</span>
				</a>
			</div>
			<div class="title">Designations</div>
			<div class="right">
				<a href="/add-designation/" class="link icon-only">
					<i class="f7-icons">add</i>
				</a>
			</div>
		</div>
	</div>
	
	<div class="page-content">
		<div class="block">
			<div class="row dept-row">
				<div class="col-100 tablet-50">
					<div class="widget dept-widget">
						<div class="profile-action">
							<a class="action-icon popover-open" data-popover=".designation-action" href="#"><i class="fa fa-ellipsis-v"></i></a>
						</div>
						<h4 class="user-name text-ellipsis">Web Designer</h4>
						<div class="user-role">Web Development</div>
					</div>					
				</div>
				<div class="col-100 tablet-50">
					<div class="widget dept-widget">
						<div class="profile-action">
							<a class="action-icon popover-open" data-popover=".designation-action" href="#"><i class="fa fa-ellipsis-v"></i></a>
						</div>
						<h4 class="user-name text-ellipsis">Web Developer</h4>
						<div class="user-role">Web Development</div>
					</div>					
				</div>
				<div class="col-100 tablet-50">
					<div class="widget dept-widget">
						<div class="profile-action">
							<a class="action-icon popover-open" data-popover=".designation-action" href="#"><i class="fa fa-ellipsis-v"></i></a>
						</div>
						<h4 class="user-name text-ellipsis">Android Developer</h4>
						<div class="user-role">Application Development</div>
					</div>					
				</div>
				<div class="col-100 tablet-50">
					<div class="widget dept-widget">
						<div class="profile-action">
							<a class="action-icon popover-open" data-popover=".designation-action" href="#"><i class="fa fa-ellipsis-v"></i></a>
						</div>
						<h4 class="user-name text-ellipsis">IOS Developer</h4>
						<div class="user-role">Application Development</div>
					</div>					
				</div>
				<div class="col-100 tablet-50">
					<div class="widget dept-widget">
						<div class="profile-action">
							<a class="action-icon popover-open" data-popover=".designation-action" href="#"><i class="fa fa-ellipsis-v"></i></a>
						</div>
						<h4 class="user-name text-ellipsis">UI Designer</h4>
						<div class="user-role">Web Development</div>
					</div>					
				</div>
				<div class="col-100 tablet-50">
					<div class="widget dept-widget">
						<div class="profile-action">
							<a class="action-icon popover-open" data-popover=".designation-action" href="#"><i class="fa fa-ellipsis-v"></i></a>
						</div>
						<h4 class="user-name text-ellipsis">UX Designer</h4>
						<div class="user-role">Application Development</div>
					</div>					
				</div>
				<div class="col-100 tablet-50">
					<div class="widget dept-widget">
						<div class="profile-action">
							<a class="action-icon popover-open" data-popover=".designation-action" href="#"><i class="fa fa-ellipsis-v"></i></a>
						</div>
						<h4 class="user-name text-ellipsis">IT Technician</h4>
						<div class="user-role">IT Management</div>
					</div>					
				</div>
				<div class="col-100 tablet-50">
					<div class="widget dept-widget">
						<div class="profile-action">
							<a class="action-icon popover-open" data-popover=".designation-action" href="#"><i class="fa fa-ellipsis-v"></i></a>
						</div>
						<h4 class="user-name text-ellipsis">Product Manager</h4>
						<div class="user-role">Application Development</div>
					</div>					
				</div>
				<div class="col-100 tablet-50">
					<div class="widget dept-widget">
						<div class="profile-action">
							<a class="action-icon popover-open" data-popover=".designation-action" href="#"><i class="fa fa-ellipsis-v"></i></a>
						</div>
						<h4 class="user-name text-ellipsis">SEO Analyst</h4>
						<div class="user-role">Marketing</div>
					</div>					
				</div>
				<div class="col-100 tablet-50">
					<div class="widget dept-widget">
						<div class="profile-action">
							<a class="action-icon popover-open" data-popover=".designation-action" href="#"><i class="fa fa-ellipsis-v"></i></a>
						</div>
						<h4 class="user-name text-ellipsis">Front End Designer</h4>
						<div class="user-role">Web Development</div>
					</div>					
				</div>
				
			</div>	
			<div class="popover designation-action">
				<div class="popover-inner">
					<div class="list">
						<ul>
							<li><a class="list-button item-link popover-close" href="/edit-designation/">Edit</a></li>
							<li><a class="list-button item-link" href="#">Delete</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>