<div class="page" data-name="email-settings">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left"><a href="#" class="back link"> <i class="fa fa-angle-left"></i><span>Back</span></a></div>
			<div class="title">Email Settings</div>
		</div>
	</div>
	<div class="page-content">
		<div class="list">
			<ul>
				<li class="item-content">
					<div class="item-inner">
						<div class="item-title">PHP Mail</div>
						<div class="item-after">
							<label class="toggle toggle-init">
							  <input type="checkbox" checked>
							  <span class="toggle-icon"></span>
							</label>
						  </div>
					</div>
				</li>
				<li class="item-content">
					<div class="item-inner">
						<div class="item-title">SMTP</div>
						<div class="item-after">
							<label class="toggle toggle-init">
							  <input type="checkbox">
							  <span class="toggle-icon"></span>
							</label>
						  </div>
					</div>
				</li>
			</ul>
		</div>
		<div class="block-title">PHP Email Settings</div>
		<div class="list no-hairlines custom-form">
			<ul>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Email From Address</div>
						<div class="item-input-wrap">
							<input type="text">
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Emails From Name</div>
						<div class="item-input-wrap">
							<input type="text">
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="block-title">SMTP Email Settings</div>
		<div class="list no-hairlines custom-form">
			<ul>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">SMTP HOST</div>
						<div class="item-input-wrap">
							<input type="text">
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">SMTP USER</div>
						<div class="item-input-wrap">
							<input type="text">
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">SMTP PASSWORD</div>
						<div class="item-input-wrap">
							<input type="password">
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">SMTP PORT</div>
						<div class="item-input-wrap">
							<input type="text">
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">SMTP Security</div>
						<div class="item-input-wrap">
							<select>
								<option>None</option>
								<option>SSL</option>
								<option>TLS</option>
							</select>
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">SMTP Authentication Domain</div>
						<div class="item-input-wrap">
							<input type="text">
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-input-wrap m-t-10">
							<button type="button" class="button button-big button-purple">Save</button>
						</div>
					</div>
                </li>
			</ul>
		</div>
	</div>
</div>