<div class="page" data-name="email">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left"><a href="#" class="back link"> <i class="fa fa-angle-left"></i><span>Back</span></a></div>
			<div class="title">Email</div>
			<div class="right">
				<a href="#" class="link icon-only popup-open" data-popup=".create-email-popup">
					<i class="f7-icons">compose</i>
				</a>
			</div>
		</div>
	</div>
	<div class="page-content">
		<div class="list links-list">
			<ul>
				<li><a href="/email-list/">Inbox</a></li>
				<li><a href="/email-list/">Starred</a></li>
			</ul>
		</div>
		<div class="list links-list">
			<ul>
				<li><a href="/email-list/">Drafts</a></li>
				<li><a href="/email-list/">Sent</a></li>
				<li><a href="/email-list/">Trash</a></li>
			</ul>
		</div>
		<div class="list">
			<ul>
				<li>
					<a class="item-link item-content" href="/email-list/">
						<div class="item-media"><i class="fa fa-circle text-success mail-label"></i></div>
						<div class="item-inner">
							<div class="item-title">Work</div>
						</div>
					</a>
				</li>
				<li>
					<a class="item-link item-content" href="/email-list/">
						<div class="item-media"><i class="fa fa-circle text-info mail-label"></i></div>
						<div class="item-inner">
							<div class="item-title">Office</div>
						</div>
					</a>
				</li>
				<li>
					<a class="item-link item-content" href="/email-list/">
						<div class="item-media"><i class="fa fa-circle text-danger mail-label"></i></div>
						<div class="item-inner">
							<div class="item-title">Personal</div>
						</div>
					</a>
				</li>
				<li>
					<a class="item-link item-content" href="/email-list/">
						<div class="item-media"><i class="fa fa-circle text-warning mail-label"></i></div>
						<div class="item-inner">
							<div class="item-title">Company</div>
						</div>
					</a>
				</li>
			</ul>
		</div>

		<!-- Create Email Popup -->
		<div class="popup create-email-popup">
			<div class="view popup-view">
				<div class="page">
					<div class="navbar">
						<div class="navbar-inner">
							<div class="left"><a href="#" class="link popup-close"><i class="fa fa-close"></i> <span>Close</span></a></div>
							<div class="title">New Message</div>
							<div class="right">
								<a class="link">Send</a>
							</div>
						</div>
					</div>
					<div class="page-content">
						<div class="list no-hairlines custom-form">
							<ul>
								<li class="item-content item-input">
									<div class="item-inner">
										<div class="item-title item-label">To</div>
										<div class="item-input-wrap">
											<input type="text">
											<span class="input-clear-button"></span>
										</div>
									</div>
								</li>
								<li class="item-content item-input">
									<div class="item-inner">
										<div class="item-title item-label">Cc</div>
										<div class="item-input-wrap">
											<input type="text">
											<span class="input-clear-button"></span>
										</div>
									</div>
								</li>
								<li class="item-content item-input">
									<div class="item-inner">
										<div class="item-title item-label">Bcc</div>
										<div class="item-input-wrap">
											<input type="text">
											<span class="input-clear-button"></span>
										</div>
									</div>
								</li>
								<li class="item-content item-input">
									<div class="item-inner">
										<div class="item-title item-label">Subject</div>
										<div class="item-input-wrap">
											<input type="text">
											<span class="input-clear-button"></span>
										</div>
									</div>
								</li>
								<li class="item-content item-input">
									<div class="item-inner">
										<div class="item-title item-label">Message</div>
										<div class="item-input-wrap">
											<textarea class="mail-textarea" placeholder="Enter your message here"></textarea>
											<span class="input-clear-button"></span>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>