<div class="page" data-name="employees">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left">
				<a href="#" class="link back">
					<i class="fa fa-angle-left"></i> <span class="ios-only">Back</span>
				</a>
			</div>
			<div class="title">Employees</div>
			<div class="right">
				<a href="/add-employee/" class="link icon-only">
					<i class="f7-icons">add</i>
				</a>
			</div>
		</div>
	</div>
	
	<div class="page-content">
		<div class="block">
			<div class="row">
				<div class="col-50 tablet-50">
					<div class="widget">
						<div class="profile-img">
							<a class="avatar" href="/profile/">J</a>
						</div>
						<div class="profile-action">
							<a class="action-icon popover-open" data-popover=".employee-action" href="#"><i class="fa fa-ellipsis-v"></i></a>
						</div>
						<h4 class="user-name text-ellipsis"><a href="/profile/">John Doe</a></h4>
						<div class="user-role">Web Designer</div>
					</div>					
				</div>
				<div class="col-50 tablet-50">
					<div class="widget">
						<div class="profile-img">
							<a class="avatar" href="/profile/">R</a>
						</div>
						<div class="profile-action">
							<a class="action-icon popover-open" data-popover=".employee-action" href="#"><i class="fa fa-ellipsis-v"></i></a>
						</div>
						<h4 class="user-name text-ellipsis"><a href="/profile/">Richard Miles</a></h4>
						<div class="user-role">Web Developer</div>
					</div>					
				</div>
				<div class="col-50 tablet-50">
					<div class="widget">
						<div class="profile-img">
							<a class="avatar" href="/profile/">J</a>
						</div>
						<div class="profile-action">
							<a class="action-icon popover-open" data-popover=".employee-action" href="#"><i class="fa fa-ellipsis-v"></i></a>
						</div>
						<h4 class="user-name text-ellipsis"><a href="/profile/">John Smith</a></h4>
						<div class="user-role">Android Developer</div>
					</div>					
				</div>
				<div class="col-50 tablet-50">
					<div class="widget">
						<div class="profile-img">
							<a class="avatar" href="/profile/">M</a>
						</div>
						<div class="profile-action">
							<a class="action-icon popover-open" data-popover=".employee-action" href="#"><i class="fa fa-ellipsis-v"></i></a>
						</div>
						<h4 class="user-name text-ellipsis"><a href="/profile/">Mike Litorus</a></h4>
						<div class="user-role">IOS Developer</div>
					</div>					
				</div>
				
				<div class="col-50 tablet-50">
					<div class="widget">
						<div class="profile-img">
							<a class="avatar" href="/profile/">W</a>
						</div>
						<div class="profile-action">
							<a class="action-icon popover-open" data-popover=".employee-action" href="#"><i class="fa fa-ellipsis-v"></i></a>
						</div>
						<h4 class="user-name text-ellipsis"><a href="/profile/">Wilmer Deluna</a></h4>
						<div class="user-role">Team Leader</div>
					</div>					
				</div>
				<div class="col-50 tablet-50">
					<div class="widget">
						<div class="profile-img">
							<a class="avatar" href="/profile/">J</a>
						</div>
						<div class="profile-action">
							<a class="action-icon popover-open" data-popover=".employee-action" href="#"><i class="fa fa-ellipsis-v"></i></a>
						</div>
						<h4 class="user-name text-ellipsis"><a href="/profile/">Jeffrey Warden</a></h4>
						<div class="user-role">Web Developer</div>
					</div>					
				</div>
				<div class="col-50 tablet-50">
					<div class="widget">
						<div class="profile-img">
							<a class="avatar" href="/profile/">B</a>
						</div>
						<div class="profile-action">
							<a class="action-icon popover-open" data-popover=".employee-action" href="#"><i class="fa fa-ellipsis-v"></i></a>
						</div>
						<h4 class="user-name text-ellipsis"><a href="/profile/">Bernardo Galaviz</a></h4>
						<div class="user-role">Web Developer</div>
					</div>					
				</div>
				<div class="col-50 tablet-50">
					<div class="widget">
						<div class="profile-img">
							<a class="avatar" href="/profile/">L</a>
						</div>
						<div class="profile-action">
							<a class="action-icon popover-open" data-popover=".employee-action" href="#"><i class="fa fa-ellipsis-v"></i></a>
						</div>
						<h4 class="user-name text-ellipsis"><a href="/profile/">Lesley Grauer</a></h4>
						<div class="user-role">Team Leader</div>
					</div>					
				</div>
			</div>	
			<div class="popover employee-action">
				<div class="popover-inner">
					<div class="list">
						<ul>
							<li><a class="list-button item-link popover-close" href="/edit-employee/">Edit</a></li>
							<li><a class="list-button item-link" href="#">Delete</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>