<div class="page" data-name="estimates">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left"><a href="#" class="back link"> <i class="fa fa-angle-left"></i><span>Back</span></a></div>
			<div class="title">Invoices</div>
			<div class="right">
				<a href="/create-estimate/" class="link icon-only">
					<i class="f7-icons">add</i>
				</a>
			</div>
		</div>
	</div>
	<div class="page-content">
		<div class="list no-hairlines media-list inv-list">
			<ul>
				<li class="swipeout">
					<a href="/estimate-view/" class="item-link item-content swipeout-content">
						<div class="item-inner">
							<div class="item-title-row">
								<div class="item-title">#EST-0001</div>
								<div class="item-after inv-amount">$2099</div>
							</div>
							<div class="item-subtitle m-t-5"><span class="inv-client">Global Technologies</span> <span class="badge color-green inv-status">Accepted</span></div>
						</div>
					</a>
					<div class="swipeout-actions-right">
						<a href="/edit-estimate/" class="color-green">Edit</a>
						<a href="#" class="color-red swipeout-delete">Delete</a>
					</div>
				</li>
				<li class="swipeout">
					<a href="/estimate-view/" class="item-link item-content swipeout-content">
						<div class="item-inner">
							<div class="item-title-row">
								<div class="item-title">#EST-0002</div>
								<div class="item-after inv-amount">$2099</div>
							</div>
							<div class="item-subtitle m-t-5"><span class="inv-client">Delta Infotech</span> <span class="badge color-red inv-status">Declined</span></div>
						</div>
					</a>
					<div class="swipeout-actions-right">
						<a href="/edit-estimate/" class="color-green">Edit</a>
						<a href="#" class="color-red swipeout-delete">Delete</a>
					</div>
				</li>
				<li class="swipeout">
					<a href="/estimate-view/" class="item-link item-content swipeout-content">
						<div class="item-inner">
							<div class="item-title-row">
								<div class="item-title">#EST-0003</div>
								<div class="item-after inv-amount">$2099</div>
							</div>
							<div class="item-subtitle m-t-5"><span class="inv-client">Cream Inc</span> <span class="badge color-blue inv-status">Sent</span></div>
						</div>
					</a>
					<div class="swipeout-actions-right">
						<a href="/edit-estimate/" class="color-green">Edit</a>
						<a href="#" class="color-red swipeout-delete">Delete</a>
					</div>
				</li>
				<li class="swipeout">
					<a href="/estimate-view/" class="item-link item-content swipeout-content">
						<div class="item-inner">
							<div class="item-title-row">
								<div class="item-title">#EST-0004</div>
								<div class="item-after inv-amount">$2099</div>
							</div>
							<div class="item-subtitle m-t-5"><span class="inv-client">International Software Inc</span> <span class="badge color-orange inv-status">Expired</span></div>
						</div>
					</a>
					<div class="swipeout-actions-right">
						<a href="/edit-estimate/" class="color-green">Edit</a>
						<a href="#" class="color-red swipeout-delete">Delete</a>
					</div>
				</li>

			</ul>
		</div>
	</div>
</div>