<div class="page no-navbar no-toolbar no-swipeback login-page" data-name="forgot-password">
	<div class="page-content">
		<div class="account-page">
			<div class="account-inner">
				<div class="account-center">
					<div class="account-content">
						<div class="account-logo">
							<img alt="" src="assets/img/logo2.png">
						</div>
						<div class="account-title">
							<h3>Forgot Password</h3>
							<p>Enter your email address you registered with and we will send you a unique verification code.</p>
						</div>
						<div class="account-form">
							<form action="#">
								<div class="input-list">
									<input type="text" placeholder="Email">
								</div>
								<div class="input-list">
									<button class="button button-big account-btn">Reset Password</button>
								</div>						
							</form>	
							<p class="text-align-center m-b-0"><a href="/login/">Back to Login</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>