<div class="page" data-name="holidays">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left"><a href="#" class="back link"> <i class="fa fa-angle-left"></i><span>Back</span></a></div>
			<div class="title">Holidays</div>
			<div class="right">
				<a href="/add-holiday/" class="link icon-only">
					<i class="f7-icons">add</i>
				</a>
			</div>
		</div>
	</div>
	<div class="page-content">
		<div class="list no-hairlines leave-list">
			<ul>
				<li class="swipeout">
					<div class="item-content swipeout-content">
						<div class="item-inner">
							<div class="item-title">
								<span class="list-title">New Year</span><div class="item-footer">1 Jan 2017</div>
							</div>
							<div class="item-after">Sunday</div>
						</div>
					</div>
					<div class="swipeout-actions-right">
						<a href="/edit-holiday/" class="color-green">Edit</a>
						<a href="#" class="color-red swipeout-delete">Delete</a>
					</div>
				</li>
				<li class="swipeout">
					<div class="item-content swipeout-content">
						<div class="item-inner">
							<div class="item-title">
								<span class="list-title">Good Friday</span><div class="item-footer">14 Apr 2017</div>
							</div>
							<div class="item-after">Friday</div>
						</div>
					</div>
					<div class="swipeout-actions-right">
						<a href="/edit-holiday/" class="color-green">Edit</a>
						<a href="#" class="color-red swipeout-delete">Delete</a>
					</div>
				</li>
				<li class="swipeout">
					<div class="item-content swipeout-content">
						<div class="item-inner">
							<div class="item-title">
								<span class="list-title">May Day</span><div class="item-footer">1 May 2017</div>
							</div>
							<div class="item-after">Monday</div>
						</div>
					</div>
					<div class="swipeout-actions-right">
						<a href="/edit-holiday/" class="color-green">Edit</a>
						<a href="#" class="color-red swipeout-delete">Delete</a>
					</div>
				</li>
				<li class="swipeout">
					<div class="item-content swipeout-content">
						<div class="item-inner">
							<div class="item-title">
								<span class="list-title">Memorial Day</span><div class="item-footer">28 May 2017</div>
							</div>
							<div class="item-after">Monday</div>
						</div>
					</div>
					<div class="swipeout-actions-right">
						<a href="/edit-holiday/" class="color-green">Edit</a>
						<a href="#" class="color-red swipeout-delete">Delete</a>
					</div>
				</li>
				<li class="swipeout">
					<div class="item-content swipeout-content">
						<div class="item-inner">
							<div class="item-title">
								<span class="list-title">Ramzon</span><div class="item-footer">26 Jun 2017</div>
							</div>
							<div class="item-after">Monday</div>
						</div>
					</div>
					<div class="swipeout-actions-right">
						<a href="/edit-holiday/" class="color-green">Edit</a>
						<a href="#" class="color-red swipeout-delete">Delete</a>
					</div>
				</li>
				<li class="swipeout">
					<div class="item-content swipeout-content">
						<div class="item-inner">
							<div class="item-title">
								<span class="list-title">Bakrid</span><div class="item-footer">2 Sep 2017</div>
							</div>
							<div class="item-after">Saturday</div>
						</div>
					</div>
					<div class="swipeout-actions-right">
						<a href="/edit-holiday/" class="color-green">Edit</a>
						<a href="#" class="color-red swipeout-delete">Delete</a>
					</div>
				</li>
				<li class="swipeout">
					<div class="item-content swipeout-content">
						<div class="item-inner">
							<div class="item-title">
								<span class="list-title">Deepavali</span><div class="item-footer">18 Oct 2017</div>
							</div>
							<div class="item-after">Wednesday</div>
						</div>
					</div>
					<div class="swipeout-actions-right">
						<a href="/edit-holiday/" class="color-green">Edit</a>
						<a href="#" class="color-red swipeout-delete">Delete</a>
					</div>
				</li>
				<li class="swipeout">
					<div class="item-content swipeout-content">
						<div class="item-inner">
							<div class="item-title">
								<span class="list-title">Christmas</span><div class="item-footer">25 Dec 2017</div>
							</div>
							<div class="item-after">Monday</div>
						</div>
					</div>
					<div class="swipeout-actions-right">
						<a href="/edit-holiday/" class="color-green">Edit</a>
						<a href="#" class="color-red swipeout-delete">Delete</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>