<div class="page" data-name="voice-call">
    <div class="page-content">
			<div class="call-wrapper incoming-wrapper">
                <div class="call-inner">
                    <div class="call-view">
                        <div class="call-window">
                            <div class="call-contents">
                                <div class="call-content-wrap">
                                    <div class="voice-call-avatar">
										<h3 class="incoming-title">Incoming call from</h3>
                                        <img class="call-avatar" alt="" src="assets/img/user-03.jpg">
                                        <span class="username">Tressa Wexler</span>
										<div class="calling-text">calling ...</div>
                                    </div>
                                <div class="call-icons">
                                    <ul class="call-items">
										<li class="call-item start_call">
                                            <a href="/voice-call/">
                                                <i class="material-icons">call</i>
                                            </a>
                                        </li>
										<li class="call-item end_call">
                                            <a href="" class="back link">
                                                <i class="material-icons">call_end</i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>