<div class="page" data-name="invoice-settings">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left"><a href="#" class="back link"> <i class="fa fa-angle-left"></i><span>Back</span></a></div>
			<div class="title">Invoice Settings</div>
		</div>
	</div>
	<div class="page-content">
	<div class="list m-b-0">
		<ul>
			<li class="invoice-logo">
				<div class="item-content">
					<div class="item-inner">
						<div class="item-title">Invoice Logo</div>
						<div class="item-after">
							<img src="assets/img/invoice-logo.png" alt="">
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
		<div class="list no-hairlines custom-form">
			<ul>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Invoice prefix</div>
						<div class="item-input-wrap">
							<input type="text" value="INV">
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Invoice Logo</div>
						<div class="item-input-wrap">
							<input type="file">
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-input-wrap m-t-10">
							<button type="button" class="button button-big button-purple">Save</button>
						</div>
					</div>
                </li>
			</ul>
		</div>
	</div>
</div>