<div class="page" data-name="invoice-view">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left"><a href="#" class="back link"> <i class="fa fa-angle-left"></i><span>Back</span></a></div>
			<div class="title">Invoice #INV-0001</div>
		</div>
	</div>
	<div class="page-content">
		<div class="block block-strong inv-section">
			<div class="inv-logo">
				<img alt="" src="assets/img/logo2.png">
			</div>
			<div class="row">
				<div class="col-50">
					<h5>Invoice to:</h5>
					<h5><strong>Barry Cuda</strong></h5>
					<ul class="inv-receiver">
						<li><span>Global Technologies</span></li>
						<li>5754 Airport Rd</li>
						<li>Coosada, AL, 36020</li>
						<li>United States</li>
						<li>888-777-6655</li>
					</ul>
				</div>
				<div class="col-50">
					<div class="invoice-details">
						<ul>
							<li><h5>Invoice date <span>October 12, 2017</span></h5></li>
							<li><h5>Due date <span>November 25, 2017</span></h5></li>
							<li><h5>Invoice Status <span>Paid</span></h5></li>
						</ul>
					</div>
				</div>
			</div>
			<table class="inv-table">
				<tbody>
					<tr>
						<th class="text-align-left">Item</th>
						<th class="text-align-center">Price</th>
						<th class="text-align-center">Qty</th>
						<th class="text-align-center">Total</th>
					</tr>
					<tr>
						<td>
							Android Application
						</td>
						<td class="text-align-center">$1000</td>
						<td class="text-align-center">2</td>
						<td class="text-align-center">$2000</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="3">Subtotal </td>
						<td colspan="1">$7,000</td>
					</tr>
					<tr>
						<td colspan="3">Tax: (25%)</td>
						<td colspan="1">$1,750</td>
					</tr>
					<tr>
						<td colspan="3"><b>Total:</b></td>
						<td colspan="1"><b>$8,750</b></td>
					</tr>
				</tfoot>
			</table>
			<div class="invoice-info">
				<h5>Other information</h5>
				<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed dictum ligula</p>
			</div>
		</div>
	</div>
</div>