<div class="page" data-name="leaves">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left"><a href="#" class="back link"> <i class="fa fa-angle-left"></i><span>Back</span></a></div>
			<div class="title">Leaves</div>
			<div class="right">
				<a href="/add-leave/" class="link icon-only">
					<i class="f7-icons">add</i>
				</a>
			</div>
		</div>
	</div>
	<div class="page-content">
		<div class="list no-hairlines media-list leave-list">
			<ul>
				<li class="swipeout">
					<a href="/leave-view/" class="item-link item-content swipeout-content">
						<div class="item-inner">
							<div class="item-title-row">
								<div class="item-title">Soosairaj</div>
								<div class="item-after">1 Day</div>
							</div>
							<div class="item-subtitle leave-info"><span class="leave-type">Casual Leave</span> <span class="badge color-orange leave-status">Pending</span></div>
							<div class="item-text leave-days">6/12/2018 </div>
						</div>
					</a>
					<div class="swipeout-actions-right">
						<a href="#" class="color-green">Accept</a>
						<a href="#" class="color-red swipeout-delete">Decline</a>
					</div>
				</li>
				<li class="swipeout">
					<a href="/leave-view/" class="item-link item-content swipeout-content">
						<div class="item-inner">
							<div class="item-title-row">
								<div class="item-title">John Doe</div>
								<div class="item-after">2.5 Days</div>
							</div>
							<div class="item-subtitle leave-info"><span class="leave-type">Sick Leave</span> <span class="badge color-green leave-status">Approved</span></div>
							<div class="item-text leave-days">6/12/2018</div>
						</div>
					</a>
					<div class="swipeout-actions-right">
						<a href="#" class="color-green">Accept</a>
						<a href="#" class="color-red swipeout-delete">Decline</a>
					</div>
				</li>
				<li class="swipeout">
					<a href="/leave-view/" class="item-link item-content swipeout-content">
						<div class="item-inner">
							<div class="item-title-row">
								<div class="item-title">John Doe</div>
								<div class="item-after">2.5 Days</div>
							</div>
							<div class="item-subtitle leave-info"><span class="leave-type">Sick Leave</span> <span class="badge color-blue leave-status">New</span></div>
							<div class="item-text leave-days">6/12/2018</div>
						</div>
					</a>
					<div class="swipeout-actions-right">
						<a href="#" class="color-green">Accept</a>
						<a href="#" class="color-red swipeout-delete">Decline</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>