<div class="page" data-name="localization">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left"><a href="#" class="back link"> <i class="fa fa-angle-left"></i><span>Back</span></a></div>
			<div class="title">Localization</div>
		</div>
	</div>
	<div class="page-content">
		<div class="list no-hairlines custom-form">
			<ul>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Default Country</div>
						<div class="item-input-wrap">
							<select>
								<option selected>USA</option>
								<option>United Kingdom</option>
							</select>
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Date Format</div>
						<div class="item-input-wrap">
							<select>
								<option value="d/m/Y">15/05/2016</option>
								<option value="d.m.Y">15.05.2016</option>
								<option value="d-m-Y">15-05-2016</option>
								<option value="m/d/Y">05/15/2016</option>
								<option value="Y/m/d">2016/05/15</option>
								<option value="Y-m-d">2016-05-15</option>
								<option value="M d Y">May 15 2016</option>
								<option selected="selected" value="d M Y">15 May 2016</option>
							</select>
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Timezone</div>
						<div class="item-input-wrap">
							<select>
								<option selected>(UTC +5:30) Antarctica/Palmer</option>
							</select>
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Default Language</div>
						<div class="item-input-wrap">
							<select>
								<option selected>English</option>
								<option>French</option>
							</select>
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Currency Code</div>
						<div class="item-input-wrap">
							<select>
								<option selected>USD</option>
								<option>Pound</option>
								<option>EURO</option>
								<option>Ringgit</option>
							</select>
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Currency Symbol</div>
						<div class="item-input-wrap">
							<input type="text" value="$" readonly>
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-input-wrap m-t-10">
							<button type="button" class="button button-big button-purple">Save</button>
						</div>
					</div>
                </li>
			</ul>
		</div>
	</div>
</div>