<div class="page no-navbar no-toolbar no-swipeback login-page" data-name="login">
	<div class="page-content">
		<div class="account-page">
			<div class="account-inner">
				<div class="account-center">
					<div class="account-content">
						<div class="account-logo">
							<img alt="" src="assets/img/logo2.png">
						</div>
						<div class="account-title">
							<h3>Login</h3>
						</div>
						<div class="account-form">
							<form action="index.html">
								<div class="input-list">
									<input type="text" placeholder="Username or Email">
								</div>
								<div class="input-list">
									<input type="password" placeholder="Password">
								</div>
								<div class="input-list">
									<a href="/forgot-password/">Forgot Password?</a>
								</div>
								<div class="input-list">
									<button class="button button-big account-btn">Login</button>
								</div>						
							</form>	
							<p class="text-align-center m-b-0">Don’t have an account? <a href="/register/">Register</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>