<div class="page" data-name="notifications-settings">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left"><a href="#" class="back link"> <i class="fa fa-angle-left"></i><span>Back</span></a></div>
			<div class="title">Notifications Settings</div>
		</div>
	</div>
	<div class="page-content">
		<div class="list settings-list">
			<ul>
				<li class="item-content">
					<div class="item-inner">
						<div class="item-title">Employee</div>
						<div class="item-after">
							<label class="toggle toggle-init">
							  <input type="checkbox" checked>
							  <span class="toggle-icon"></span>
							</label>
						  </div>
					</div>
				</li>
				<li class="item-content">
					<div class="item-inner">
						<div class="item-title">Holidays</div>
						<div class="item-after">
							<label class="toggle toggle-init">
							  <input type="checkbox">
							  <span class="toggle-icon"></span>
							</label>
						  </div>
					</div>
				</li>
				<li class="item-content">
					<div class="item-inner">
						<div class="item-title">Leave Request</div>
						<div class="item-after">
							<label class="toggle toggle-init">
							  <input type="checkbox">
							  <span class="toggle-icon"></span>
							</label>
						  </div>
					</div>
				</li><li class="item-content">
					<div class="item-inner">
						<div class="item-title">Events</div>
						<div class="item-after">
							<label class="toggle toggle-init">
							  <input type="checkbox">
							  <span class="toggle-icon"></span>
							</label>
						  </div>
					</div>
				</li><li class="item-content">
					<div class="item-inner">
						<div class="item-title">Chat</div>
						<div class="item-after">
							<label class="toggle toggle-init">
							  <input type="checkbox">
							  <span class="toggle-icon"></span>
							</label>
						  </div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>