<div class="page" data-name="notifications">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left"><a href="#" class="back link"> <i class="fa fa-angle-left"></i><span>Back</span></a></div>
			<div class="title">Notifications</div>
		</div>
	</div>
	<div class="page-content">
		<div class="list no-hairlines media-list user-list">
			<ul>
				<li class="swipeout">
					<div class="item-content swipeout-content">
						<div class="item-media"><img src="assets/img/user.jpg" width="36" class="rounded" alt=""></div>
						<div class="item-inner">
							<div class="item-title-row">
								<div class="item-title noti-title">You <span class="noti-text">missed a call from</span> Jeffrey Warden </div>
							</div>
							<div class="item-subtitle user-role">Now</div>
						</div>
					</div>
					<div class="swipeout-actions-right">
						<a href="#" class="color-red swipeout-delete">Delete</a>
					</div>
				</li>
				<li class="swipeout">
					<div class="item-content swipeout-content">
						<div class="item-media"><img src="assets/img/user.jpg" width="36" class="rounded" alt=""></div>
						<div class="item-inner">
							<div class="item-title-row">
								<div class="item-title noti-title">Lesley Grauer <span class="noti-text">added new task</span> Harvey Clinic </div>
							</div>
							<div class="item-subtitle user-role">4 mins ago</div>
						</div>
					</div>
					<div class="swipeout-actions-right">
						<a href="#" class="color-red swipeout-delete">Delete</a>
					</div>
				</li>
				<li class="swipeout">
					<div class="item-content swipeout-content">
						<div class="item-media"><img src="assets/img/user.jpg" width="36" class="rounded" alt=""></div>
						<div class="item-inner">
							<div class="item-title-row">
								<div class="item-title noti-title">Jeffery Lalor <span class="noti-text">added</span> Loren Gatlin <span class="noti-text">and</span> Tarah Shropshire <span class="noti-text">to project</span> Patient appointment booking</div>
							</div>
							<div class="item-subtitle user-role">6 mins ago</div>
						</div>
					</div>
					<div class="swipeout-actions-right">
						<a href="#" class="color-red swipeout-delete">Delete</a>
					</div>
				</li>
				<li class="swipeout">
					<div class="item-content swipeout-content">
						<div class="item-media"><img src="assets/img/user.jpg" width="36" class="rounded" alt=""></div>
						<div class="item-inner">
							<div class="item-title-row">
								<div class="item-title noti-title">Catherine Manseau <span class="noti-text">completed task</span> Appointment booking with payment gateway</div>
							</div>
							<div class="item-subtitle user-role">12 mins ago</div>
						</div>
					</div>
					<div class="swipeout-actions-right">
						<a href="#" class="color-red swipeout-delete">Delete</a>
					</div>
				</li>
				<li class="swipeout">
					<div class="item-content swipeout-content">
						<div class="item-media"><img src="assets/img/user.jpg" width="36" class="rounded" alt=""></div>
						<div class="item-inner">
							<div class="item-title-row">
								<div class="item-title noti-title">Bernardo Galaviz <span class="noti-text">changed the task name</span> Doctor available module </div>
							</div>
							<div class="item-subtitle user-role">1 day ago</div>
						</div>
					</div>
					<div class="swipeout-actions-right">
						<a href="#" class="color-red swipeout-delete">Delete</a>
					</div>
				</li>
				<li class="swipeout">
					<div class="item-content swipeout-content">
						<div class="item-media"><img src="assets/img/user.jpg" width="36" class="rounded" alt=""></div>
						<div class="item-inner">
							<div class="item-title-row">
								<div class="item-title noti-title">Mike Litorus <span class="noti-text">added new task</span> Patient and Doctor video conferencing</div>
							</div>
							<div class="item-subtitle user-role">2 days ago</div>
						</div>
					</div>
					<div class="swipeout-actions-right">
						<a href="#" class="color-red swipeout-delete">Delete</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>