<div class="page" data-name="payments">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left"><a href="#" class="back link"> <i class="fa fa-angle-left"></i><span>Back</span></a></div>
			<div class="title">Payments</div>
		</div>
	</div>
	<div class="page-content">
		<div class="list no-hairlines media-list inv-list">
			<ul>
				<li>
					<a href="/invoice-view/" class="item-link item-content">
						<div class="item-inner">
							<div class="item-title-row">
								<div class="item-title">#INV-0001</div>
								<div class="item-after inv-amount">$500</div>
							</div>
							<div class="item-subtitle"><span class="inv-client">Global Technologies</span> <span class="inv-status">Paypal</span></div>
							<div class="item-text leave-days">8 Aug 2017</div>
						</div>
					</a>
				</li>
				<li>
					<a href="/invoice-view/" class="item-link item-content">
						<div class="item-inner">
							<div class="item-title-row">
								<div class="item-title">#INV-0002</div>
								<div class="item-after inv-amount">$500</div>
							</div>
							<div class="item-subtitle"><span class="inv-client">Delta Infotech</span> <span class="inv-status">Paypal</span></div>
							<div class="item-text leave-days">8 Aug 2017</div>
						</div>
					</a>
				</li>
				<li>
					<a href="/invoice-view/" class="item-link item-content">
						<div class="item-inner">
							<div class="item-title-row">
								<div class="item-title">#INV-0003</div>
								<div class="item-after inv-amount">$500</div>
							</div>
							<div class="item-subtitle"><span class="inv-client">Cream Inc</span> <span class="inv-status">Paypal</span></div>
							<div class="item-text leave-days">8 Aug 2017</div>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>