<div class="page" data-name="projects">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="back link"> <i class="fa fa-angle-left"></i><span>Back</span></a>
            </div>
            <div class="title">Projects</div>
            <div class="right">
                <a href="/add-project/" class="link icon-only">
                    <i class="f7-icons">add</i>
                </a>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="list no-hairlines media-list project-list">
            <ul>
                <li class="swipeout">
                    <a href="/project-view/" class="item-link item-content swipeout-content">
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">Office Management</div>
                            </div>
                            <div class="item-subtitle"> 1 open tasks, 9 tasks completed </div>
                            <div class="progressbar color-purple" data-progress="10"></div>
                            <div class="pro-info clearfix">
                                <div class="pro-left">
                                    <span><i class="fa fa-calendar"></i> <span>June 26, 2018</span></span>
                                </div>
                                <div class="pro-right">
                                    <span class="attach-icon"><i class="fa fa-paperclip"></i>2</span> <span><i class="fa fa-comment-o"></i>6</span></div>
                            </div>
                        </div>
                    </a>
					<div class="swipeout-actions-right">
						<a href="/edit-project/" class="color-green">Edit</a>
						<a href="#" class="color-red swipeout-delete">Delete</a>
					</div>
                </li>
                <li class="swipeout">
                    <a href="/project-view/" class="item-link item-content swipeout-content">
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">Project Management</div>
                            </div>
                            <div class="item-subtitle">  2 open tasks, 5 tasks completed  </div>
                            <div class="progressbar color-purple" data-progress="20"></div>
                            <div class="pro-info clearfix">
                                <div class="pro-left">
                                    <span><i class="fa fa-calendar"></i> <span>July 18, 2018</span></span>
                                </div>
                                <div class="pro-right">
                                    <span class="attach-icon"><i class="fa fa-paperclip"></i>7</span> <span><i class="fa fa-comment-o"></i>9</span></div>
                            </div>
                        </div>
                    </a>
					<div class="swipeout-actions-right">
						<a href="/edit-project/" class="color-green">Edit</a>
						<a href="#" class="color-red swipeout-delete">Delete</a>
					</div>
                </li>
				<li class="swipeout">
                    <a href="/project-view/" class="item-link item-content swipeout-content">
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">Video Calling App</div>
                            </div>
                            <div class="item-subtitle"> 3 open tasks, 3 tasks completed </div>
                            <div class="progressbar color-purple" data-progress="20"></div>
                            <div class="pro-info clearfix">
                                <div class="pro-left">
                                    <span><i class="fa fa-calendar"></i> <span>July 18, 2018</span></span>
                                </div>
                                <div class="pro-right">
                                    <span class="attach-icon"><i class="fa fa-paperclip"></i>1</span> <span><i class="fa fa-comment-o"></i>4</span></div>
                            </div>
                        </div>
                    </a>
					<div class="swipeout-actions-right">
						<a href="/edit-project/" class="color-green">Edit</a>
						<a href="#" class="color-red swipeout-delete">Delete</a>
					</div>
                </li>
				<li class="swipeout">
                    <a href="/project-view/" class="item-link item-content">
                        <div class="item-inner">
                            <div class="item-title-row">
                                <div class="item-title">Hospital Administration</div>
                            </div>
                            <div class="item-subtitle"> 12 open tasks, 4 tasks completed </div>
                            <div class="progressbar color-purple" data-progress="20"></div>
                            <div class="pro-info clearfix">
                                <div class="pro-left">
                                    <span><i class="fa fa-calendar"></i> <span>July 18, 2018</span></span>
                                </div>
                                <div class="pro-right">
                                    <span class="attach-icon"><i class="fa fa-paperclip"></i>12</span> <span><i class="fa fa-comment-o"></i>2</span></div>
                            </div>
                        </div>
                    </a>
					<div class="swipeout-actions-right">
						<a href="/edit-project/" class="color-green">Edit</a>
						<a href="#" class="color-red swipeout-delete">Delete</a>
					</div>
                </li>
            </ul>
        </div>
    </div>
</div>