<div class="page no-navbar no-toolbar no-swipeback login-page" data-name="register">
	<div class="page-content">
		<div class="account-page">
			<div class="account-inner">
				<div class="account-center">
					<div class="account-content">
						<div class="account-logo">
							<img alt="" src="assets/img/logo2.png">
						</div>
						<div class="account-title">
							<h3>Register</h3>
						</div>
						<div class="account-form">
							<form action="index.html">
								<div class="input-list">
									<input type="text" placeholder="Username">
								</div>
								<div class="input-list">
									<input type="email" placeholder="Email">
								</div>
								<div class="input-list">
									<input type="password" placeholder="Password">
								</div>
								<div class="input-list">
									<input type="password" placeholder="Repeat Password">
								</div>
								<div class="input-list">
									<button class="button button-big account-btn">Register</button>
								</div>						
							</form>	
							<p class="text-align-center m-b-0">Already have an account? <a href="/login/">Login</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>