<div class="page" data-name="salary-settings">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left"><a href="#" class="back link"> <i class="fa fa-angle-left"></i><span>Back</span></a></div>
			<div class="title">Salary Settings</div>
		</div>
	</div>
	<div class="page-content salary-content">
		<div class="list no-hairlines custom-form">
			<ul>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">DA (%)</div>
						<div class="item-input-wrap">
							<input type="text">
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">HRA (%)</div>
						<div class="item-input-wrap">
							<input type="text">
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="block-title">Provident Fund Settings</div>
		<div class="list no-hairlines custom-form">
			<ul>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Employee Share (%)</div>
						<div class="item-input-wrap">
							<input type="text">
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Organization Share (%)</div>
						<div class="item-input-wrap">
							<input type="text">
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="block-title">ESI Settings</div>
		<div class="list no-hairlines custom-form">
			<ul>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Employee Share (%)</div>
						<div class="item-input-wrap">
							<input type="text">
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-title item-label">Organization Share (%)</div>
						<div class="item-input-wrap">
							<input type="text">
						</div>
					</div>
				</li>
				<li class="item-content item-input">
					<div class="item-inner">
						<div class="item-input-wrap m-t-10">
							<button type="button" class="button button-big button-purple">Save</button>
						</div>
					</div>
                </li>
			</ul>
		</div>
	</div>
</div>