<div class="page" data-name="salary-view">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left"><a href="#" class="back link"> <i class="fa fa-angle-left"></i><span>Back</span></a></div>
			<div class="title">Payslip #49029</div>
		</div>
	</div>
	<div class="page-content">
		<div class="block block-strong inv-section">
			<div class="inv-logo">
				<img alt="" src="assets/img/logo2.png">
			</div>
			<div class="row">
				<div class="col-50">
					<h5>Focus Technologies</h5>
					<ul class="inv-receiver">
						<li>3864 Quiet Valley Lane,</li>
						<li>Sherman Oaks, CA, 91403</li>
					</ul>
				</div>
				<div class="col-50">
					<div class="invoice-details">
						<ul>
							<li><h5>Salary Month <span>September, 2017</span></h5></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-100">
					<h5>John Doe</h5>
					<ul class="inv-receiver">
						<li><span>Web Designer</span></li>
						<li>Employee ID: FT-0009</li>
						<li>Joining Date: 1 Jan 2013</li>
					</ul>
				</div>
			</div>
			<div class="earning-box">
				<h4 class="m-b-10">Earnings</h4>
				<table class="table-bordered">
					<tbody>
						<tr>
							<td><strong>Basic Salary</strong> <span class="pull-right">$6500</span></td>
						</tr>
						<tr>
							<td><strong>House Rent Allowance (H.R.A.)</strong> <span class="pull-right">$55</span></td>
						</tr>
						<tr>
							<td><strong>Conveyance</strong> <span class="pull-right">$55</span></td>
						</tr>
						<tr>
							<td><strong>Other Allowance</strong> <span class="pull-right">$55</span></td>
						</tr>
						<tr>
							<td><strong>Total Earnings</strong> <span class="pull-right"><strong>$55</strong></span></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="deduction-box">
				<h4 class="m-b-10">Deductions</h4>
				<table class="table-bordered">
					<tbody>
						<tr>
							<td><strong>Tax Deducted at Source (T.D.S.)</strong> <span class="pull-right">$0</span></td>
						</tr>
						<tr>
							<td><strong>Provident Fund</strong> <span class="pull-right">$0</span></td>
						</tr>
						<tr>
							<td><strong>ESI</strong> <span class="pull-right">$0</span></td>
						</tr>
						<tr>
							<td><strong>Loan</strong> <span class="pull-right">$300</span></td>
						</tr>
						<tr>
							<td><strong>Total Deductions</strong> <span class="pull-right"><strong>$59698</strong></span></td>
						</tr>
					</tbody>
				</table>
			</div>
			<p class="salary-amount m-t-0"><strong>Net Salary: $59698</strong> (Fifty nine thousand six hundred and ninety eight only.)</p>
		</div>
	</div>
</div>