<div class="page" data-name="salary">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left"><a href="#" class="back link"> <i class="fa fa-angle-left"></i><span>Back</span></a></div>
			<div class="title">Salary</div>
			<div class="right">
				<a href="/add-salary/" class="link icon-only">
					<i class="f7-icons">add</i>
				</a>
			</div>
		</div>
	</div>
	<div class="page-content">
		<div class="list no-hairlines media-list salary-list">
			<ul>
				<li class="swipeout">
					<div class="item-content swipeout-content">
						<div class="item-media"><img width="36" class="rounded" src="assets/img/user.jpg" alt=""></div>
						<div class="item-inner">
							<div class="item-title-row">
								<div class="item-title">Bernardo Galaviz</div>
								<div class="item-after">$38400</div>
							</div>
							<div class="item-subtitle leave-info"><span class="leave-type">Web Developer</span> <a href="/salary-view/" class="badge color-orange leave-status">Generate Slip</a></div>
							<div class="item-text leave-days">FT-0007</div>
						</div>
					</div>
					<div class="swipeout-actions-right">
						<a href="/edit-salary/" class="color-green">Edit</a>
						<a href="#" class="color-red swipeout-delete">Decline</a>
					</div>
				</li>
				<li class="swipeout">
					<div class="item-content swipeout-content">
						<div class="item-media"><img width="36" class="rounded" src="assets/img/user.jpg" alt=""></div>
						<div class="item-inner">
							<div class="item-title-row">
								<div class="item-title">Jeffery Lalor </div>
								<div class="item-after">$73550</div>
							</div>
							<div class="item-subtitle leave-info"><span class="leave-type">Team Leader</span> <a href="/salary-view/" class="badge color-orange leave-status">Generate Slip</a></div>
							<div class="item-text leave-days">FT-0009</div>
						</div>
					</div>
					<div class="swipeout-actions-right">
						<a href="/edit-salary/" class="color-green">Edit</a>
						<a href="#" class="color-red swipeout-delete">Decline</a>
					</div>
				</li>
				<li class="swipeout">
					<div class="item-content swipeout-content">
						<div class="item-media"><img width="36" class="rounded" src="assets/img/user.jpg" alt=""></div>
						<div class="item-inner">
							<div class="item-title-row">
								<div class="item-title">Jeffrey Warden </div>
								<div class="item-after">$45000</div>
							</div>
							<div class="item-subtitle leave-info"><span class="leave-type">Web Developer</span> <a href="/salary-view/" class="badge color-orange leave-status">Generate Slip</a></div>
							<div class="item-text leave-days">FT-0006</div>
						</div>
					</div>
					<div class="swipeout-actions-right">
						<a href="/edit-salary/" class="color-green">Edit</a>
						<a href="#" class="color-red swipeout-delete">Decline</a>
					</div>
				</li>
				<li class="swipeout">
					<div class="item-content swipeout-content">
						<div class="item-media"><img width="36" class="rounded" src="assets/img/user.jpg" alt=""></div>
						<div class="item-inner">
							<div class="item-title-row">
								<div class="item-title">John Doe</div>
								<div class="item-after">$59698</div>
							</div>
							<div class="item-subtitle leave-info"><span class="leave-type">Web Designer</span> <a href="/salary-view/" class="badge color-orange leave-status">Generate Slip</a></div>
							<div class="item-text leave-days">FT-0001</div>
						</div>
					</div>
					<div class="swipeout-actions-right">
						<a href="/edit-salary/" class="color-green">Edit</a>
						<a href="#" class="color-red swipeout-delete">Decline</a>
					</div>
				</li>
				<li class="swipeout">
					<div class="item-content swipeout-content">
						<div class="item-media"><img width="36" class="rounded" src="assets/img/user.jpg" alt=""></div>
						<div class="item-inner">
							<div class="item-title-row">
								<div class="item-title">John Smith</div>
								<div class="item-after">$48200</div>
							</div>
							<div class="item-subtitle leave-info"><span class="leave-type">Web Developer</span> <a href="/salary-view/" class="badge color-orange leave-status">Generate Slip</a></div>
							<div class="item-text leave-days">FT-0003</div>
						</div>
					</div>
					<div class="swipeout-actions-right">
						<a href="/edit-salary/" class="color-green">Edit</a>
						<a href="#" class="color-red swipeout-delete">Decline</a>
					</div>
				</li>
				<li class="swipeout">
					<div class="item-content swipeout-content">
						<div class="item-media"><img width="36" class="rounded" src="assets/img/user.jpg" alt=""></div>
						<div class="item-inner">
							<div class="item-title-row">
								<div class="item-title">Lesley Grauer</div>
								<div class="item-after">$75500</div>
							</div>
							<div class="item-subtitle leave-info"><span class="leave-type">Web Developer</span> <a href="/salary-view/" class="badge color-orange leave-status">Generate Slip</a></div>
							<div class="item-text leave-days">FT-0008</div>
						</div>
					</div>
					<div class="swipeout-actions-right">
						<a href="/edit-salary/" class="color-green">Edit</a>
						<a href="#" class="color-red swipeout-delete">Decline</a>
					</div>
				</li>
				<li class="swipeout">
					<div class="item-content swipeout-content">
						<div class="item-media"><img width="36" class="rounded" src="assets/img/user.jpg" alt=""></div>
						<div class="item-inner">
							<div class="item-title-row">
								<div class="item-title">Loren Gatlin</div>
								<div class="item-after">$55000</div>
							</div>
							<div class="item-subtitle leave-info"><span class="leave-type">Android Developer</span> <a href="/salary-view/" class="badge color-orange leave-status">Generate Slip</a></div>
							<div class="item-text leave-days">FT-0010</div>
						</div>
					</div>
					<div class="swipeout-actions-right">
						<a href="/edit-salary/" class="color-green">Edit</a>
						<a href="#" class="color-red swipeout-delete">Decline</a>
					</div>
				</li>
				<li class="swipeout">
					<div class="item-content swipeout-content">
						<div class="item-media"><img width="36" class="rounded" src="assets/img/user.jpg" alt=""></div>
						<div class="item-inner">
							<div class="item-title-row">
								<div class="item-title">Mike Litorus</div>
								<div class="item-after">$59698</div>
							</div>
							<div class="item-subtitle leave-info"><span class="leave-type">IOS Developer</span> <a href="/salary-view/" class="badge color-orange leave-status">Generate Slip</a></div>
							<div class="item-text leave-days">FT-0004</div>
						</div>
					</div>
					<div class="swipeout-actions-right">
						<a href="/edit-salary/" class="color-green">Edit</a>
						<a href="#" class="color-red swipeout-delete">Decline</a>
					</div>
				</li>
				<li class="swipeout">
					<div class="item-content swipeout-content">
						<div class="item-media"><img width="36" class="rounded" src="assets/img/user.jpg" alt=""></div>
						<div class="item-inner">
							<div class="item-title-row">
								<div class="item-title">Richard Miles</div>
								<div class="item-after">$72000</div>
							</div>
							<div class="item-subtitle leave-info"><span class="leave-type">Web Developer</span> <a href="/salary-view/" class="badge color-orange leave-status">Generate Slip</a></div>
							<div class="item-text leave-days">FT-0002</div>
						</div>
					</div>
					<div class="swipeout-actions-right">
						<a href="/edit-salary/" class="color-green">Edit</a>
						<a href="#" class="color-red swipeout-delete">Decline</a>
					</div>
				</li>
				<li class="swipeout">
					<div class="item-content swipeout-content">
						<div class="item-media"><img width="36" class="rounded" src="assets/img/user.jpg" alt=""></div>
						<div class="item-inner">
							<div class="item-title-row">
								<div class="item-title">Tarah Shropshire</div>
								<div class="item-after">$92400</div>
							</div>
							<div class="item-subtitle leave-info"><span class="leave-type">Android Developer</span> <a href="/salary-view/" class="badge color-orange leave-status">Generate Slip</a></div>
							<div class="item-text leave-days">FT-0011</div>
						</div>
					</div>
					<div class="swipeout-actions-right">
						<a href="/edit-salary/" class="color-green">Edit</a>
						<a href="#" class="color-red swipeout-delete">Decline</a>
					</div>
				</li>
				<li class="swipeout">
					<div class="item-content swipeout-content">
						<div class="item-media"><img width="36" class="rounded" src="assets/img/user.jpg" alt=""></div>
						<div class="item-inner">
							<div class="item-title-row">
								<div class="item-title">Wilmer Deluna</div>
								<div class="item-after">$43000</div>
							</div>
							<div class="item-subtitle leave-info"><span class="leave-type">Team Leader</span> <a href="/salary-view/" class="badge color-orange leave-status">Generate Slip</a></div>
							<div class="item-text leave-days">FT-0005</div>
						</div>
					</div>
					<div class="swipeout-actions-right">
						<a href="/edit-salary/" class="color-green">Edit</a>
						<a href="#" class="color-red swipeout-delete">Decline</a>
					</div>
				</li>
			</ul>
		</div>
		<div class="popover salary-action">
			<div class="popover-inner">
				<div class="list">
					<ul>
						<li><a class="list-button item-link popover-close" href="/edit-salary/">Edit</a></li>
						<li><a class="list-button item-link" href="#">Delete</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>