<div class="page" data-name="settings">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left"><a href="#" class="back link"> <i class="fa fa-angle-left"></i><span>Back</span></a></div>
			<div class="title">Settings</div>
		</div>
	</div>
	<div class="page-content">
		<div class="list links-list settings-list">
			<ul>
				<li><a href="/company-settings/">Company Settings</a></li>
				<li><a href="/localization/">Localization</a></li>
				<li><a href="/email-settings/">Email Settings</a></li>
				<li><a href="/invoice-settings/">Invoice Settings</a></li>
				<li><a href="/salary-settings/">Salary Settings</a></li>
				<li><a href="/notifications-settings/">Notifications</a></li>
				<li><a href="/change-password/">Change Password</a></li>
				<li><a href="/leave-types/">Leave Types</a></li>
			</ul>
		</div>
	</div>
</div>