<div class="page page-with-subnavbar" data-name="tasks">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="back link"> <i class="fa fa-angle-left"></i><span>Back</span></a>
            </div>
            <div class="title">Tasks</div>
        </div>
    </div>
    <div class="subnavbar task-subnavbar">
        <div class="subnavbar-inner">
            <div class="segmented segmented-raised">
                <a class="button tab-link tab-link-active" href="#pending_tasks">Pending</a>
                <a class="button tab-link" href="#completed_tasks">Completed</a>
                <a class="button tab-link" href="#all_tasks">All</a>
            </div>
        </div>
    </div>
    <div class="page-content hide-navbar-on-scroll">
        <div class="tabs">
            <div class="tab tab-active" id="pending_tasks">
                <div class="list task-list">
                    <ul>
                        <li>
                            <a href="" class="item-content add-task-link popup-open" data-popup=".add-task-popup">
                                <div class="item-media"><i class="material-icons">add</i></div>
                                <div class="item-inner">
                                    <div class="item-title">Add Task</div>
                                </div>
                            </a>
                        </li>
                        <li class="swipeout">
                            <a href="/task-view/" class="item-content swipeout-content">
                                <div class="item-media">
                                    <span class="action-circle">
									<i class="material-icons">check</i>
								</span>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title">Patient appointment booking</div>
                                    <div class="item-after"> <span class="assigned-user"><img src="assets/img/user.jpg" class="rounded" alt=""></span></div>
                                </div>
                            </a>
                            <div class="swipeout-actions-right">
                                <a class="color-blue" href="#">Assign</a>
                                <a class="open-more-actions" href="#">Due Date</a>
                                <a class="swipeout-delete" href="#">Delete</a>
                            </div>
                        </li>
                        <li class="swipeout">
                            <a href="/task-view/" class="item-content swipeout-content">
                                <div class="item-media">
                                    <span class="action-circle complete-btn">
									<i class="material-icons">check</i>
								</span>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title">Appointment booking with payment gateway</div>
                                    <div class="item-after"> <span class="assigned-user"><img src="assets/img/user.jpg" class="rounded" alt=""></span></div>
                                </div>
                            </a>
                            <div class="swipeout-actions-right">
                                <a class="color-blue" href="#">Assign</a>
                                <a class="open-more-actions" href="#">Due Date</a>
                                <a class="swipeout-delete" href="#">Delete</a>
                            </div>
                        </li>
                        <li class="swipeout">
                            <a href="/task-view/" class="item-content swipeout-content">
                                <div class="item-media">
                                    <span class="action-circle">
									<i class="material-icons">check</i>
								</span>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title">Patient and Doctor video conferencing</div>
                                    <div class="item-after"> <span class="assigned-user"><img src="assets/img/user.jpg" class="rounded" alt=""></span></div>
                                </div>
                            </a>
                            <div class="swipeout-actions-right">
                                <a class="color-blue" href="#">Assign</a>
                                <a class="open-more-actions" href="#">Due Date</a>
                                <a class="swipeout-delete" href="#">Delete</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab" id="completed_tasks">
                <div class="list task-list">
                    <ul>
                        <li>
                            <a href="" class="item-content add-task-link popup-open" data-popup=".add-task-popup">
                                <div class="item-media"><i class="material-icons">add</i></div>
                                <div class="item-inner">
                                    <div class="item-title">Add Task</div>
                                </div>
                            </a>
                        </li>
                        <li class="swipeout">
                            <a href="/task-view/" class="item-content swipeout-content">
                                <div class="item-media">
                                    <span class="action-circle complete-btn">
									<i class="material-icons">check</i>
								</span>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title">Appointment booking with payment gateway</div>
                                    <div class="item-after"> <span class="assigned-user"><img src="assets/img/user.jpg" class="rounded" alt=""></span></div>
                                </div>
                            </a>
                            <div class="swipeout-actions-right">
                                <a class="color-blue" href="#">Assign</a>
                                <a class="open-more-actions" href="#">Due Date</a>
                                <a class="swipeout-delete" href="#">Delete</a>
                            </div>
                        </li>
                        <li class="swipeout">
                            <a href="/task-view/" class="item-content swipeout-content">
                                <div class="item-media">
                                    <span class="action-circle complete-btn">
									<i class="material-icons">check</i>
								</span>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title">Patient appointment booking</div>
                                    <div class="item-after"> <span class="assigned-user"><img src="assets/img/user.jpg" class="rounded" alt=""></span></div>
                                </div>
                            </a>
                            <div class="swipeout-actions-right">
                                <a class="color-blue" href="#">Assign</a>
                                <a class="open-more-actions" href="#">Due Date</a>
                                <a class="swipeout-delete" href="#">Delete</a>
                            </div>
                        </li>
                        <li class="swipeout">
                            <a href="/task-view/" class="item-content swipeout-content">
                                <div class="item-media">
                                    <span class="action-circle complete-btn">
									<i class="material-icons">check</i>
								</span>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title">Patient and Doctor video conferencing</div>
                                    <div class="item-after"> <span class="assigned-user"><img src="assets/img/user.jpg" class="rounded" alt=""></span></div>
                                </div>
                            </a>
                            <div class="swipeout-actions-right">
                                <a class="color-blue" href="#">Assign</a>
                                <a class="open-more-actions" href="#">Due Date</a>
                                <a class="swipeout-delete" href="#">Delete</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab" id="all_tasks">
                <div class="list task-list">
                    <ul>
                        <li>
                            <a href="" class="item-content add-task-link popup-open" data-popup=".add-task-popup">
                                <div class="item-media"><i class="material-icons">add</i></div>
                                <div class="item-inner">
                                    <div class="item-title">Add Task</div>
                                </div>
                            </a>
                        </li>
                        <li class="swipeout">
                            <a href="/task-view/" class="item-content swipeout-content">
                                <div class="item-media">
                                    <span class="action-circle">
									<i class="material-icons">check</i>
								</span>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title">Patient and Doctor video conferencing</div>
                                    <div class="item-after"> <span class="assigned-user"><img src="assets/img/user.jpg" class="rounded" alt=""></span></div>
                                </div>
                            </a>
                            <div class="swipeout-actions-right">
                                <a class="color-blue" href="#">Assign</a>
                                <a class="open-more-actions" href="#">Due Date</a>
                                <a class="swipeout-delete" href="#">Delete</a>
                            </div>
                        </li>
                        <li class="swipeout">
                            <a href="/task-view/" class="item-content swipeout-content">
                                <div class="item-media">
                                    <span class="action-circle">
									<i class="material-icons">check</i>
								</span>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title">Patient appointment booking</div>
                                    <div class="item-after"> <span class="assigned-user"><img src="assets/img/user.jpg" class="rounded" alt=""></span></div>
                                </div>
                            </a>
                            <div class="swipeout-actions-right">
                                <a class="color-blue" href="#">Assign</a>
                                <a class="open-more-actions" href="#">Due Date</a>
                                <a class="swipeout-delete" href="#">Delete</a>
                            </div>
                        </li>
                        <li class="swipeout">
                            <a href="/task-view/" class="item-content swipeout-content">
                                <div class="item-media">
                                    <span class="action-circle complete-btn">
									<i class="material-icons">check</i>
								</span>
                                </div>
                                <div class="item-inner">
                                    <div class="item-title">Appointment booking with payment gateway</div>
                                    <div class="item-after"> <span class="assigned-user"><img src="assets/img/user.jpg" class="rounded" alt=""></span></div>
                                </div>
                            </a>
                            <div class="swipeout-actions-right">
                                <a class="color-blue" href="#">Assign</a>
                                <a class="open-more-actions" href="#">Due Date</a>
                                <a class="swipeout-delete" href="#">Delete</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="popup add-task-popup">
                    <div class="view popup-view">
                        <div class="page">
                            <div class="navbar">
                                <div class="navbar-inner">
                                    <div class="left"><a href="#" class="link popup-close"><i class="fa fa-close"></i> <span>Close</span></a></div>
                                    <div class="title">Add Task</div>
                                    <div class="right"><a href="#" class="link"><span>Create</span></a></div>
                                </div>
                            </div>
                            <div class="page-content">
                                <div class="task-textarea">
                                    <textarea placeholder="Enter new task here." class="input-with-value"></textarea>
                                    <ul class="task-upload-action">
                                        <li><i class="f7-icons">camera</i></li>
                                        <li><i class="f7-icons">person</i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>