<div class="page" data-name="taxes">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left"><a href="#" class="back link"> <i class="fa fa-angle-left"></i><span>Back</span></a></div>
			<div class="title">Taxes</div>
			<div class="right">
				<a href="/add-tax/" class="link icon-only">
					<i class="f7-icons">add</i>
				</a>
			</div>
		</div>
	</div>
	<div class="page-content">
		<div class="list no-hairlines leave-list">
			<ul>
				<li class="swipeout">
					<div class="item-content swipeout-content">
						<div class="item-inner">
							<div class="item-title">
								<span class="list-title">VAT</span><div class="item-footer">14%</div>
							</div>
							<div class="item-after"><span class="badge color-red leave-status">Inactive</span></div>
						</div>
					</div>
					<div class="swipeout-actions-right">
						<a href="/edit-tax/" class="color-green">Edit</a>
						<a href="#" class="color-red swipeout-delete">Delete</a>
					</div>
				</li>
				<li class="swipeout">
					<div class="item-content swipeout-content">
						<div class="item-inner">
							<div class="item-title">
								<span class="list-title">GST</span><div class="item-footer">30%</div>
							</div>
							<div class="item-after"><span class="badge color-green leave-status">Active</span></div>
						</div>
					</div>
					<div class="swipeout-actions-right">
						<a href="/edit-tax/" class="color-green">Edit</a>
						<a href="#" class="color-red swipeout-delete">Delete</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>