<div class="page" data-name="users">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="left"><a href="#" class="back link"> <i class="fa fa-angle-left"></i><span>Back</span></a></div>
			<div class="title">Users</div>
			<div class="right">
				<a href="/add-user/" class="link icon-only">
					<i class="f7-icons">add</i>
				</a>
			</div>
		</div>
	</div>
	<div class="page-content">
		<div class="list no-hairlines media-list user-list">
			<ul>
				<li class="swipeout">
					<a href="/profile/" class="item-link item-content swipeout-content">
						<div class="item-media"><img src="assets/img/user.jpg" width="36" class="rounded" alt=""></div>
						<div class="item-inner">
							<div class="item-title-row">
								<div class="item-title">Barry Cuda </div>
								<div class="item-after user-cate text-info">Client</div>
							</div>
							<div class="item-subtitle user-role">Global Technologies</div>
						</div>
					</a>
					<div class="swipeout-actions-right">
						<a href="/edit-user/" class="color-green">Edit</a>
						<a href="#" class="color-red swipeout-delete">Delete</a>
					</div>
				</li>
				<li class="swipeout">
					<a href="/profile/" class="item-link item-content swipeout-content">
						<div class="item-media"><img src="assets/img/user.jpg" width="36" class="rounded" alt=""></div>
						<div class="item-inner">
							<div class="item-title-row">
								<div class="item-title">Daniel Porter</div>
								<div class="item-after user-cate text-danger">Admin</div>
							</div>
							<div class="item-subtitle user-role">Admin</div>
						</div>
					</a>
					<div class="swipeout-actions-right">
						<a href="/edit-user/" class="color-green">Edit</a>
						<a href="#" class="color-red swipeout-delete">Delete</a>
					</div>
				</li>
				<li class="swipeout">
					<a href="/profile/" class="item-link item-content swipeout-content">
						<div class="item-media"><img src="assets/img/user.jpg" width="36" class="rounded" alt=""></div>
						<div class="item-inner">
							<div class="item-title-row">
								<div class="item-title">John Doe</div>
								<div class="item-after user-cate text-success">Employee</div>
							</div>
							<div class="item-subtitle user-role">Web Designer</div>
						</div>
					</a>
					<div class="swipeout-actions-right">
						<a href="/edit-user/" class="color-green">Edit</a>
						<a href="#" class="color-red swipeout-delete">Delete</a>
					</div>
				</li>
				<li class="swipeout">
					<a href="/profile/" class="item-link item-content swipeout-content">
						<div class="item-media"><img src="assets/img/user.jpg" width="36" class="rounded" alt=""></div>
						<div class="item-inner">
							<div class="item-title-row">
								<div class="item-title">John Smith</div>
								<div class="item-after user-cate text-success">Employee</div>
							</div>
							<div class="item-subtitle user-role">Android Developer</div>
						</div>
					</a>
					<div class="swipeout-actions-right">
						<a href="/edit-user/" class="color-green">Edit</a>
						<a href="#" class="color-red swipeout-delete">Delete</a>
					</div>
				</li>
				<li class="swipeout">
					<a href="/profile/" class="item-link item-content swipeout-content">
						<div class="item-media"><img src="assets/img/user.jpg" width="36" class="rounded" alt=""></div>
						<div class="item-inner">
							<div class="item-title-row">
								<div class="item-title">Mike Litorus</div>
								<div class="item-after user-cate text-success">Employee</div>
							</div>
							<div class="item-subtitle user-role">IOS Developer</div>
						</div>
					</a>
					<div class="swipeout-actions-right">
						<a href="/edit-user/" class="color-green">Edit</a>
						<a href="#" class="color-red swipeout-delete">Delete</a>
					</div>
				</li>
				<li class="swipeout">
					<a href="/profile/" class="item-link item-content swipeout-content">
						<div class="item-media"><img src="assets/img/user.jpg" width="36" class="rounded" alt=""></div>
						<div class="item-inner">
							<div class="item-title-row">
								<div class="item-title">Richard Miles</div>
								<div class="item-after user-cate text-success">Employee</div>
							</div>
							<div class="item-subtitle user-role">Web Developer</div>
						</div>
					</a>
					<div class="swipeout-actions-right">
						<a href="/edit-user/" class="color-green">Edit</a>
						<a href="#" class="color-red swipeout-delete">Delete</a>
					</div>
				</li>
				<li class="swipeout">
					<a href="/profile/" class="item-link item-content swipeout-content">
						<div class="item-media"><img src="assets/img/user.jpg" width="36" class="rounded" alt=""></div>
						<div class="item-inner">
							<div class="item-title-row">
								<div class="item-title">Wilmer Deluna</div>
								<div class="item-after user-cate text-success">Employee</div>
							</div>
							<div class="item-subtitle user-role">Team Leader</div>
						</div>
					</a>
					<div class="swipeout-actions-right">
						<a href="/edit-user/" class="color-green">Edit</a>
						<a href="#" class="color-red swipeout-delete">Delete</a>
					</div>
				</li>
				<li class="swipeout">
					<a href="/profile/" class="item-link item-content swipeout-content">
						<div class="item-media"><img src="assets/img/user.jpg" width="36" class="rounded" alt=""></div>
						<div class="item-inner">
							<div class="item-title-row">
								<div class="item-title">Loren Gatlin</div>
								<div class="item-after user-cate text-success">Employee</div>
							</div>
							<div class="item-subtitle user-role">Android Developer</div>
						</div>
					</a>
					<div class="swipeout-actions-right">
						<a href="/edit-user/" class="color-green">Edit</a>
						<a href="#" class="color-red swipeout-delete">Delete</a>
					</div>
				</li>
				<li class="swipeout">
					<a href="/profile/" class="item-link item-content swipeout-content">
						<div class="item-media"><img src="assets/img/user.jpg" width="36" class="rounded" alt=""></div>
						<div class="item-inner">
							<div class="item-title-row">
								<div class="item-title">Catherine Manseau</div>
								<div class="item-after user-cate text-success">Employee</div>
							</div>
							<div class="item-subtitle user-role">Android Developer</div>
						</div>
					</a>
					<div class="swipeout-actions-right">
						<a href="/edit-user/" class="color-green">Edit</a>
						<a href="#" class="color-red swipeout-delete">Delete</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>