<div class="page" data-name="video-call">
    <div class="navbar two-action">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="back link"> <i class="fa fa-angle-left"></i><span>Back</span></a>
            </div>
            <div class="title">Video Call</div>
			<div class="right">
				<a href="#" class="link icon-only"><i class="material-icons">settings</i></a>
				<a href="#" data-popover=".call-menu" class="link icon-only popover-open"><i class="material-icons">more_vert</i></a>
			</div>
        </div>
    </div>
    <div class="page-content">
			<div class="call-wrapper">
                <div class="call-inner">
                    <div class="call-view">
                        <div class="call-window">
                            <div class="call-contents">
                                <div class="call-content-wrap">
                                    <div class="user-details clearfix">
                                        <div class="user-img">
                                            <img class="rounded" alt="" src="assets/img/user.jpg">
                                        </div>
                                        <div class="call-userinfo">
                                            <span class="call-username">Mike Litorus</span>
                                            <span class="call-duration">00:59</span>
                                        </div>
                                        <div class="chat-link">
											<a href="/chat/">
												<i class="fa fa-comments-o"></i>
											</a>
                                        </div>
                                    </div>
                                    <div class="user-video">
                                        <img alt="" src="assets/img/video-call.jpg">
                                    </div>
                                    <div class="my-video">
                                        <ul>
                                            <li>
                                                <img alt="" class="img-fluid" src="assets/img/user-02.jpg">
                                            </li>
                                        </ul>
                                    </div>
                                <div class="call-icons">
                                    <ul class="call-items">
                                        <li class="call-item">
                                            <a href="">
                                                <i class="fa fa-video-camera camera"></i>
                                            </a>
                                        </li>
                                        <li class="call-item">
                                            <a href="">
                                                <i class="fa fa-microphone microphone"></i>
                                            </a>
                                        </li>
                                        <li class="call-item">
                                            <a href="">
                                                <i class="fa fa-user-plus"></i>
                                            </a>
                                        </li>
                                        <li class="call-item">
                                            <a href="">
                                                <i class="fa fa-arrows-v full-screen"></i>
                                            </a>
                                        </li>
										<li class="call-item end_call">
                                            <a href="" class="back link">
                                                <i class="material-icons">call_end</i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                </div>
                            </div>
							<div class="popover call-menu">
								<div class="popover-angle"></div>
								<div class="popover-inner">
									<div class="list">
										<ul>
											<li><a href="" class="list-button item-link popover-close">Share Screen</a></li>
										</ul>
									</div>
								</div>
							</div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>