<div class="page" data-name="voice-call">
    <div class="navbar two-action">
        <div class="navbar-inner">
            <div class="left">
                <a href="#" class="back link"> <i class="fa fa-angle-left"></i><span>Back</span></a>
            </div>
            <div class="title">Voice Call</div>
			<div class="right">
				<a href="#" class="link icon-only"><i class="material-icons">settings</i></a>
				<a href="#" data-popover=".call-menu" class="link icon-only popover-open"><i class="material-icons">more_vert</i></a>
			</div>
        </div>
    </div>
    <div class="page-content">
			<div class="call-wrapper">
                <div class="call-inner">
                    <div class="call-view">
                        <div class="call-window">
                            <div class="call-contents">
                                <div class="call-content-wrap">
                                    <div class="voice-call-avatar">
                                        <img class="call-avatar" alt="" src="assets/img/user-03.jpg">
                                        <span class="username">John Doe</span>
                                        <span class="call-timing-count">00:59</span>
                                    </div>
                                    <div class="call-users">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <img alt="" class="img-fluid" src="assets/img/user-04.jpg">
                                                    <span class="call-mute"><i class="fa fa-microphone-slash"></i></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img alt="" class="img-fluid" src="assets/img/user-05.jpg">
                                                    <span class="call-mute"><i class="fa fa-microphone-slash"></i></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img alt="" class="img-fluid" src="assets/img/user-06.jpg">
                                                    <span class="call-mute"><i class="fa fa-microphone-slash"></i></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                <div class="call-icons">
                                    <ul class="call-items">
                                        <li class="call-item">
                                            <a href="">
                                                <i class="fa fa-video-camera camera"></i>
                                            </a>
                                        </li>
                                        <li class="call-item">
                                            <a href="">
                                                <i class="fa fa-microphone microphone"></i>
                                            </a>
                                        </li>
                                        <li class="call-item">
                                            <a href="">
                                                <i class="fa fa-user-plus"></i>
                                            </a>
                                        </li>
                                        <li class="call-item">
                                            <a href="">
                                                <i class="fa fa-comments"></i>
                                            </a>
                                        </li>
										<li class="call-item end_call">
                                            <a href="" class="back link">
                                                <i class="material-icons">call_end</i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                </div>
                            </div>
							<div class="popover call-menu">
								<div class="popover-angle"></div>
								<div class="popover-inner">
									<div class="list">
										<ul>
											<li><a href="" class="list-button item-link popover-close">Share Screen</a></li>
										</ul>
									</div>
								</div>
							</div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>