<div class="page no-navbar no-toolbar no-swipeback" data-name="walkthrough">
    <div class="page-content">
        <div class="walkthrough">
            <div data-pagination='{"el": ".swiper-pagination"}' class="swiper-container swiper-init walkthrough-container">
                <div class="swiper-pagination"></div>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="walkthrough-img">
                            <img alt="" src="assets/img/logo2.png">
                        </div>
                        <div class="walkthrough-title">Welcome to DHR</div>
                        <div class="walkthrough-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="walkthrough-img">
                            <img alt="" src="assets/img/chat.png">
                        </div>
                        <div class="walkthrough-title">Chat</div>
                        <div class="walkthrough-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="walkthrough-img">
                            <img alt="" src="assets/img/project.png">
                        </div>
                        <div class="walkthrough-title">Projects and Tasks</div>
                        <div class="walkthrough-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                        </div>
                    </div>
                </div>
                <div class="walkthrough-actions">
                    <a class="button button-big button-fill" href="/">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</div>